#ourContactWrapper{

    ul{
        overflow: hidden;
        &.ourContact li {
            margin-bottom: 2rem;
            .ourContact-widget_icon {
                width: 70px;
                text-align: center;
            }
        }
    }
}