/* General  
*
* Resteos generales 
* clases generales 
* colores
* typos
* 
*/
@import url('https://fonts.googleapis.com/sass2?family=Inter:wght@200;300;400;600&display=swap');
:root {
    --system-color-white-10: #fbfaff;
    --system-color-white-20: #f2f2f2;
    --system-color-white-30: #e6e6e6;
    --system-color-white-40: #cccccc;
    --system-color-white-50: #a6a6a6;
    --system-color-bluelight-10: #dce1ef;
    --system-color-bluelight-20: #bcc5e1;
    --system-color-bluelight-30: #9fadd5;
    --system-color-bluelight-40: #7185c1;
    --system-color-green-10: #68cfa9;
    --system-color-green-20: #3dc291;
    --system-color-green-30: #319b74;
    --system-color-green-40: #257457;
    --system-color-red-10: #ff999e;
    --system-color-red-20: #ed1d27;
    --system-color-red-30: #cc000a;
    --system-color-red-40: #990008;
    --system-color-red-50: #660005;
    --system-color-black-10: #212c26;
    --system-font-size-xsmall: 0.8rem;
    --system-font-size-small: 0.9rem;
    --system-font-size-regular: 1rem;
    --system-font-size-large: 1.2rem;
    --system-font-size-xlarge: 2.5rem;
    --system-font-size-xxlarge: 4rem;
    --system-font-family-global: 'Inter', , sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Helvetica Neue, Helvetica, Arial;
    --system-font-family-text: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Helvetica Neue, Helvetica, Arial, sans-serif;
    --system-color-red-20-outline: #ed1b24;
    --mywebsite-color-base: var(--system-color-white-10);
    --mywebsite-color-footer: var(--system-color-black-10);
    --mywebsite-color-footer-paragraph: #bac4e1;
    --mywebsite-color-border: var(--system-color-white-20);
    --mywebsite-border-radius: 5px;
    --mywebsite-border-radius-circle: 50px;
    --mywebsite-global-color-text: #333;
    --mywebsite-contant-transition: 0.5s;
    --mywebsite-h1-font-size: 2.5rem;
    --mywebsite-h2-font-size: 2rem;
    --mywebsite-h3-font-size: 1.8rem;
    --mywebsite-h1-font: 'Lato', sans-serif;
    --mywebsite-h2-font: 'Lato', sans-serif;
    --mywebsite-h3-font: 'Open Sans', sans-serif;
    --mywebsite-padding-big: 5rem 1rem;
    --mywebsite-padding-small: 2rem 0;
    --mywebsite-title-small: 0.8rem;
    --mywebsite-title-big: 3rem;
    --mywebsite-shadow-primary: 0px 8px 16px -4px rgba(#ed1b24, 0.25);
}

.title-wrapper .title::before,
.post_author::before,
.post_comment p::before {
    content: '';
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--system-color-green-10);
    border-radius: 50px;
    margin-right: 0.3rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

html,
body,
div,
span,
applet,
object,
iframe,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend {
    margin: 0;
    border: 0;
    outline: 0;
    padding: 0;
    font-size: 16px;
    color: inherit;
    font-weight: inherit;
    font-style: inherit;
    vertical-align: baseline;
    list-style: none;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none !important;
}

body {
    font-family: 'Inter', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue,
        Helvetica, Arial !important;
}

.container {
    max-width: 1400px;
}

.active {
    color: var(--system-color-red-20);
}

.sitemap a {
    color: var(--system-color-red-20);
}

.divider {
    height: 5rem;
}

button {
    background-color: var(--mywebsite-color-base);
    margin: 0.2rem;
}

.buttonWrapper {
    padding: 1rem 2rem;
    border-radius: var(--mywebsite-border-radius);
    background-color: var(--system-color-green-10);
    color: var(--mywebsite-color-base);
    -webkit-transition: var(--mywebsite-contant-transition) ease-in-out;
    transition: var(--mywebsite-contant-transition) ease-in-out;
    text-transform: uppercase;
    -webkit-box-shadow: 0px 10px 5px -5px rgba(102, 207, 169, 0.45);
    box-shadow: 0px 10px 5px -5px rgba(102, 207, 169, 0.45);
    font-size: 10pt;
    cursor: pointer;
}

.buttonWrapper:hover {
    background-color: var(--system-color-red-20);
    -webkit-box-shadow: 0px 15px 20px -8px rgba(237, 27, 36, 0.45);
    box-shadow: 0px 15px 20px -8px rgba(237, 27, 36, 0.45);
    color: var(--system-color-white-20);
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='number'],
textarea {
    outline: none;
    border-width: 1px;
    border-color: var(--system-color-bluelight-20);
    border-style: solid;
    -webkit-transition: var(--mywebsite-contant-transition);
    transition: var(--mywebsite-contant-transition);
}

.inputForm {
    padding: 1rem 2rem;
    margin: 0.5rem 0.25rem;
}

.inputForm:focus {
    border: 1px solid var(--system-color-red-20-outline);
}

.title-wrapper {
    text-transform: uppercase;
    font-weight: 800;
    height: 40px;
}

/* fin  general */
/* Header  
*
*/
header {
    position: fixed !important;
    background-color: var(--mywebsite-color-base);
    border-bottom: 1px solid var(--mywebsite-color-border);
    width: 100%;
    z-index: 9;
    top: 0;
}

#headerWrapper {
    padding: 0;
    height: 100px;
    letter-spacing: 0.02rem;
}

.headerItem nav.navWrapper {
    height: 99px;
}

.headerItem ul {
    height: 100%;
    text-transform: uppercase;
    -ms-flex-line-pack: center;
    align-content: center;
}

.headerItem li.menu-item {
    height: 100px;
    width: auto;
}

.headerItem li.menu-item:hover a {
    color: var(--system-color-red-20);
}

.headerItem li.menu-item:hover ul.navSubMenuContent {
    opacity: 1;
    visibility: visible;
    -webkit-transform: rotateX(0) translateZ(0);
    transform: rotateX(0) translateZ(0);
    top: 100%;
}

.headerItem li.menu-item a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    padding: 0px 16px 0px 16px;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.headerItem li.menu-item .menu-item-link {
    font-weight: 600;
    font-size: 14px;
}

.headerItem img {
    max-width: 150px;
}

.navMenuContent li {
    position: relative;
}

.navSubMenuContent {
    width: 100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: rotateX(0) translateZ(0);
    transform: rotateX(0) translateZ(0);
    border-radius: 0 0 5px 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 11px 10px 38px 0 rgba(46, 63, 99, 0.15);
    box-shadow: 11px 10px 38px 0 rgba(46, 63, 99, 0.15);
    background-color: var(--mywebsite-color-base);
    color: var(--system-color-red-20);
    height: auto;
    padding: 1rem 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 200px;
    white-space: nowrap;
    position: absolute;
    top: calc(100% + 15px);
}

.floatNav {
    position: fixed;
    right: 2rem;
    top: 50vh;
    width: 40px;
    overflow: hidden;
    z-index: 9;
    scroll-behavior: smooth;
}

/* fin header */
/* Main
*
* */
main {
    padding: 0 0 5rem;
    margin-top: 100px;
}

.flex,
.doubleHeading_subtitle span,
.doubleHeading_subtitle span::before {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.items-center,
.doubleHeading_subtitle span {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#breadcrumbs {
    border-bottom: 1px solid var(--mywebsite-color-border);
    background-image: url(../img/newsletter-bg.png);
}

.breadcrumbWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 300px;
}

.breadcrumbWrapper .breadcrumbs-content {
    text-align: center;
}

.globalText {
    font-family: var(--system-font-family-global);
    font-size: 1rem;
    letter-spacing: -1px;
    line-height: 30px;
    margin-bottom: 0.7rem;
    opacity: 0.7;
}

.superBigTitle {
    font-size: 70px;
    line-height: 70px;
    font-weight: 900;
}

.superBigTitle span {
    font-size: 70px;
    display: block;
}

.bigTitle {
    font-size: 2rem;
    line-height: 1em;
    font-weight: 900;
    color: var(--system-color-red-20-outline);
}

@media only screen and (min-width: 769px) and (max-width: 981px) {
    .bigTitle {
        font-size: 1.9rem;
    }
}

@media only screen and (min-width: 981px) and (max-width: 1200px) {
    .bigTitle {
        font-size: 2.1rem;
    }
}

@media only screen and (min-width: 2000px) and (max-width: 2000px) {
    .bigTitle {
        font-size: 3rem;
    }
}

.smallTitle {
    font-size: var(--mywebsite-title-small);
}

.boxShadows {
    -webkit-box-shadow: 5px 4px 13px 0px rgba(40, 60, 99, 0.15);
    box-shadow: 5px 4px 13px 0px rgba(40, 60, 99, 0.15);
}

.borderRadiusSmall {
    border-radius: var(--mywebsite-border-radius);
}

.borderRadiusBig {
    border-radius: var(--mywebsite-border-radius-circle);
}

.card {
    border: 1px solid var(--mywebsite-color-border);
}

/*  DoubleHeading */
.doubleHeading {
    position: relative;
}

.doubleHeading_subtitle {
    display: inline-block;
    padding: 0.5rem 0.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
    background-color: var(--mywebsite-color-base);
    text-transform: uppercase;
}

.doubleHeading_subtitle span::before {
    content: '';
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--system-color-green-10);
    border-radius: 50px;
    margin-right: 0.5rem;
}

.doubleHeading_title {
    position: relative;
    z-index: 1;
    line-height: 0;
}

.doubleHeading_content {
    margin: 1.1rem 0;
}

.doubleHeading_content p {
    line-height: 1.618rem;
    color: var(--mywebsite-global-color-text);
}

/* Fin DoubleHeading */
#breadcrumbs {
    border-bottom: 1px solid var(--mywebsite-color-border);
    background-image: url(../img/newsletter-bg.png);
}

.breadcrumbWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 300px;
}

.breadcrumbWrapper .breadcrumbs-content {
    text-align: center;
}

.wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.wrapper_content {
    max-width: 100%;
}

@media only screen and (min-width: 769px) and (max-width: 2000px) {
    .wrapper_content {
        max-width: 550px;
    }
}

/*Fin Main */
/** Paginas */
.post h2 {
    font-size: 2rem;
}

.post_date {
    border: 1px solid var(--system-color-red-20-outline);
    width: 3.75rem;
    height: 3.75rem;
    text-align: center;
    border-radius: 0.313rem;
    font-size: 0.8rem;
    padding: 0 9px;
}

.post_date span {
    font-size: 1.3rem;
    font-weight: 900;
}

.post_meta-like {
    color: var(--system-color-bluelight-40);
}

.post_meta-like p {
    font-size: 0.9rem;
}

.post_meta-like i {
    color: var(--system-color-red-20);
}

.post_category {
    color: var(--system-color-red-20);
}

.post_meta-data {
    color: var(--system-color-bluelight-40);
    text-transform: uppercase;
}

.post_meta-data a,
.post_meta-data p {
    font-size: 0.8rem;
}

.post_author {
    margin-right: 10px;
    margin-left: 10px;
}

.post_text-header {
    background-color: var(--system-color-red-20);
    color: var(--system-color-white-10);
}

.post_text-header p {
    font-size: 1rem;
    font-weight: 800;
    opacity: 1;
}

.post_text p {
    letter-spacing: -1px;
    line-height: 30px;
    margin-bottom: 0.7rem;
    opacity: 0.7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.post_items {
    counter-reset: items;
}

.post_items li {
    margin-top: 10px;
}

.post_items li span {
    font-weight: 900;
}

.post_items li span::before {
    counter-increment: items;
    content: counter(items) '. ';
}

.post_items p {
    letter-spacing: -1px;
    line-height: 30px;
    margin-bottom: 0.7rem;
    opacity: 0.7;
    font-size: 14px;
}

/*  Sidebar  */
#categorias ul {
    position: relative;
}

#categorias li {
    border-bottom: 1px solid var(--system-color-white-30);
    font-size: 1rem;
    line-height: 37px;
    font-weight: 600;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity: 0.5;
}

#tags .tag-item {
    padding: 0.5rem 0.6rem;
    margin: 0.3rem auto;
    border-radius: 5px;
    background-color: var(--system-color-white-20);
    font-size: 12px;
}

#recentPost li {
    margin-bottom: 1.5rem;
}

#recentPost .recentPost_image {
    max-width: 90px;
}

#recentPost .recentPost_content {
    font-size: 14px;
    width: calc(100% - 90px);
    padding: 0 20px;
}

#gallery li {
    max-width: 90px;
    margin-right: 10px;
    margin-top: 5px;
}

.sectionContent_wrapper-content {
    display: -ms-grid;
    display: grid;
    place-content: center;
    place-items: center;
}

.wrapper-content {
    max-width: 550px;
}

.accordion .card-header {
    background-color: var(--system-color-red-20);
}

.accordion .card-header button {
    color: var(--system-color-white-10);
}

/* Fin Paginas */
/* Footer
*
*
*/
.footer {
    padding: 0 2em;
}

.footerItem-content {
    line-height: 40px;
}

.footerItem-content p,
.footerItem-content a {
    font-size: 0.9rem;
}

.footerItem-content_item span {
    opacity: 0.8;
    font-size: 0.8rem;
}

.footerTextContent p {
    font-size: 0.9rem;
    line-height: 27px;
    opacity: 0.8;
}

.footerSocialIcons {
    margin-top: 2rem;
    max-width: 250px;
    overflow: hidden;
}

.footerSocialIcons a {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 1px solid;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

footer {
    background: linear-gradient(250deg, #211f1f, #000000);
    background-size: auto;
    color: var(--system-color-bluelight-10);
    -webkit-animation: footerAnimation 10s infinite;
    animation: footerAnimation 10s infinite;
    -webkit-transition: -webkit-animation 0.3s ease-in-out;
    transition: -webkit-animation 0.3s ease-in-out;
    transition: animation 0.3s ease-in-out;
    transition: animation 0.3s ease-in-out, -webkit-animation 0.3s ease-in-out;
    background-size: 400%;
    position: relative;
}

.footerContent {
    color: #dce1ef;
}

.footerLogoMain img {
    max-width: 180px;
}

.bottomFooterContent {
    padding: 2rem 0;
    border-top: 1px solid var(--system-color-red-50);
}

.bottomFooterContent p {
    font-size: var(--system-font-size-xsmall);
    opacity: 0.8;
}

/* Fin footer */
/* @Media queries 
* 
* Mobile First
*  */
@media (min-width: 480px) {
    .post_items p {
        font-size: 0.9rem;
    }
}

@media (min-width: 768px) {
    .post_items p {
        font-size: 1rem;
    }
}

/* @media (min-width: 1024px )
* @media (min-width: 1440px )
*
* Desktop First 
* @media (max-width: 1440px )
* @media (max-width: 1024px )
* @media (max-width: 768px )
* @media (max-width: 480px )
*
/* Fin @Media queries  */
