@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600&display=swap');
:root {
    --system-color-white-10: #fbfaff;
    --system-color-white-20: #f2f2f2;
    --system-color-white-30: #e6e6e6;
    --system-color-white-40: #cccccc;
    --system-color-white-50: #a6a6a6;
    --system-color-bluelight-10: #dce1ef;
    --system-color-bluelight-20: #bcc5e1;
    --system-color-bluelight-30: #9fadd5;
    --system-color-bluelight-40: #7185c1;
    --system-color-green-10: #68cfa9;
    --system-color-green-20: #3dc291;
    --system-color-green-30: #319b74;
    --system-color-green-40: #257457;
    --system-color-red-10: #ff999e;
    --system-color-red-20: #ed1d27;
    --system-color-red-30: #cc000a;
    --system-color-red-40: #990008;
    --system-color-red-50: #660005;
    --system-color-black-10: #212c26;
    --system-font-size-xsmall: 0.8rem;
    --system-font-size-small: 0.9rem;
    --system-font-size-regular: 1rem;
    --system-font-size-large: 1.2rem;
    --system-font-size-xlarge: 2.5rem;
    --system-font-size-xxlarge: 4rem;
    --system-font-family-global: 'Inter', , sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Helvetica Neue, Helvetica, Arial;
    --system-font-family-text: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Helvetica Neue, Helvetica, Arial, sans-serif;
    --system-color-red-20-outline: #ed1b24;
    --mywebsite-color-base: var(--system-color-white-10);
    --mywebsite-color-footer: var(--system-color-black-10);
    --mywebsite-color-footer-paragraph: #bac4e1;
    --mywebsite-color-border: var(--system-color-white-20);
    --mywebsite-border-radius: 5px;
    --mywebsite-border-radius-circle: 50px;
    --mywebsite-global-color-text: #333;
    --mywebsite-contant-transition: 0.5s;
    --mywebsite-h1-font-size: 2.5rem;
    --mywebsite-h2-font-size: 2rem;
    --mywebsite-h3-font-size: 1.8rem;
    --mywebsite-h1-font: 'Lato', sans-serif;
    --mywebsite-h2-font: 'Lato', sans-serif;
    --mywebsite-h3-font: 'Open Sans', sans-serif;
    --mywebsite-padding-big: 5rem 1rem;
    --mywebsite-padding-small: 2rem 0;
    --mywebsite-title-small: 0.8rem;
    --mywebsite-title-big: 3rem;
    --mywebsite-shadow-primary: 0px 8px 16px -4px rgba(#ed1b24, 0.25);
}

/** RESET */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend {
    margin: 0;
    border: 0;
    outline: 0;
    padding: 0;
    font-size: 16px;
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    vertical-align: baseline;
    list-style: none;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none !important;
    color: inherit;
}

body {
    font-family: 'Inter', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue,
        Helvetica, Arial;
}

.container {
    max-width: 1400px;
}

.flex,
.doubleHeading_subtitle span,
.doubleHeading_subtitle span::before,
.breadcrumbWrapper,
.wrapper,
.newsContentWrapper,
#headerWrapper,
#headerWrapper .headerItem ul,
#headerWrapper .headerItem ul.navMenuContent .menu-item a,
nav.navWrapper,
main .carouselWrapper ul,
main .newsWrapperContent,
main #hero,
#productos ul li.productosWrapper-li .imagenWrapper_text_inner,
.bottomFooterContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.inline-flex {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.flex,
.doubleHeading_subtitle span,
.doubleHeading_subtitle span::before,
.breadcrumbWrapper,
.wrapper,
.newsContentWrapper,
#headerWrapper,
#headerWrapper .headerItem ul,
#headerWrapper .headerItem ul.navMenuContent .menu-item a,
nav.navWrapper,
main .carouselWrapper ul,
main .newsWrapperContent,
main #hero,
#productos ul li.productosWrapper-li .imagenWrapper_text_inner,
.bottomFooterContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.justify-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.justify-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.justify-center,
.breadcrumbWrapper,
.wrapper,
.newsContentWrapper,
#headerWrapper {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.justify-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.justify-around {
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.justify-evenly {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.justify-items-start {
    justify-items: start;
}

.justify-items-end {
    justify-items: flex-end;
}

.justify-items-center {
    justify-items: center;
}

.justify-items-stretch {
    justify-items: stretch;
}

.justify-self-auto {
    -ms-grid-column-align: auto;
    justify-self: auto;
}

.justify-self-start {
    -ms-grid-column-align: start;
    justify-self: start;
}

.justify-self-end {
    justify-self: flex-end;
}

.justify-self-center {
    -ms-grid-column-align: center;
    justify-self: center;
}

.justify-self-stretch {
    -ms-grid-column-align: stretch;
    justify-self: stretch;
}

.content-center {
    -ms-flex-line-pack: center;
    align-content: center;
}

.content-start {
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

.content-end {
    -ms-flex-line-pack: end;
    align-content: flex-end;
}

.content-between {
    -ms-flex-line-pack: justify;
    align-content: space-between;
}

.content-around {
    -ms-flex-line-pack: distribute;
    align-content: space-around;
}

.content-evenly {
    -ms-flex-line-pack: space-evenly;
    align-content: space-evenly;
}

.items-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.items-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.items-center,
.doubleHeading_subtitle span,
#headerWrapper .headerItem ul.navMenuContent .menu-item a,
nav.navWrapper,
main .newsWrapperContent,
main #hero,
#productos ul li.productosWrapper-li .imagenWrapper_text_inner {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.items-baseline {
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

.items-stretch {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

/*  map */
/* Crea las clases de FlexDirection  */
/* Crea la clase .flex-row, .flex-row-reverse, .flex-col .flex-col-reverse */
/*  */
.flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.flex-row-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.flex-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flex-col-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}

.divider {
    height: 5rem;
}

.full,
.center,
.newsContentWrapper,
.fullWidth,
.imgWrapper,
.formGroup input,
.formGroup textarea,
#headerWrapper .headerItem ul.navMenuContent li,
#headerWrapper .headerItem ul.navMenuContent li ul.navSubMenuContent,
#headerWrapper .headerItem ul.navMenuContent li ul.navSubMenuContent li a.navSubMenuContent-li-a span,
.floatNav ul {
    width: 100%;
}

.sectionContent {
    padding: var(--mywebsite-padding-big);
}

.sectionInnerContent {
    margin: var(--mywebsite-padding-small);
}

.center {
    max-width: 1400px;
    margin: 0px auto;
}

.globalText {
    font-family: var(--system-font-family-global);
    font-size: 1rem;
    letter-spacing: -1px;
    line-height: 30px;
    margin-bottom: 0.7rem;
    opacity: 0.7;
}

.superBigTitle {
    font-size: 70px;
    line-height: 70px;
    font-weight: 900;
}

.superBigTitle span {
    font-size: 70px;
    display: block;
}

.bigTitle {
    font-size: 2rem;
    line-height: 1em;
    font-weight: 900;
    color: var(--system-color-red-20-outline);
}

@media only screen and (min-width: 769px) and (max-width: 981px) {
    .bigTitle {
        font-size: 1.9rem;
    }
}

@media only screen and (min-width: 981px) and (max-width: 1200px) {
    .bigTitle {
        font-size: 2.1rem;
    }
}

@media only screen and (min-width: 2000px) and (max-width: 2000px) {
    .bigTitle {
        font-size: 3rem;
    }
}

.smallTitle {
    font-size: var(--mywebsite-title-small);
}

.boxShadows {
    -webkit-box-shadow: 5px 4px 13px 0px rgba(40, 60, 99, 0.15);
    box-shadow: 5px 4px 13px 0px rgba(40, 60, 99, 0.15);
}

.borderRadiusSmall {
    border-radius: var(--mywebsite-border-radius);
}

.borderRadiusBig {
    border-radius: var(--mywebsite-border-radius-circle);
}

.button,
.button-primary,
.button-secondary {
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 10pt;
    padding: 1rem 2rem;
    border-radius: var(--mywebsite-border-radius);
    color: var(--system-color-red-20);
    -webkit-transition: var(--mywebsite-contant-transition) ease-in-out;
    transition: var(--mywebsite-contant-transition) ease-in-out;
    text-transform: uppercase;
    -webkit-box-shadow: rgba(9, 30, 66, 0.25) 0px 8px 16px -4px, rgba(9, 30, 66, 0.31) 0px 0px 1px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 8px 16px -4px, rgba(9, 30, 66, 0.31) 0px 0px 1px;
    border: 1px solid var(--system-color-red-20-outline);
    cursor: pointer;
}

.button:hover,
.button-primary:hover,
.button-secondary:hover {
    background-color: var(--system-color-green-10);
    -webkit-box-shadow: 0px 15px 20px -8px rgba(102, 207, 169, 0.45);
    box-shadow: 0px 15px 20px -8px rgba(102, 207, 169, 0.45);
    color: var(--mywebsite-color-base);
    border: 1px solid var(--system-color-green-10);
}

/* button {
    @extend %button;

    background-color: var(--mywebsite-color-base);
    margin: 0.2rem;
}
 */
.button {
    background-color: var(--mywebsite-color-base);
    margin: 0.2rem;
}

.button-primary {
    color: var(--mywebsite-color-base);
    background-color: var(--system-color-red-20);
    -webkit-box-shadow: 0px 8px 16px -4px rgba(237, 27, 36, 0.25);
    box-shadow: 0px 8px 16px -4px rgba(237, 27, 36, 0.25);
}

.button-primary:hover {
    background-color: var(--system-color-green-10);
    -webkit-box-shadow: 0px 15px 20px -8px rgba(102, 207, 169, 0.45);
    box-shadow: 0px 15px 20px -8px rgba(102, 207, 169, 0.45);
}

.button-secondary {
    color: var(--mywebsite-color-base);
    background-color: var(--system-color-green-10);
    -webkit-box-shadow: 0px 15px 20px -8px rgba(102, 207, 169, 0.45);
    box-shadow: 0px 15px 20px -8px rgba(102, 207, 169, 0.45);
}

.button-secondary:hover {
    background-color: var(--system-color-green-10);
    -webkit-box-shadow: 0px 15px 20px -8px rgba(75, 131, 252, 0.45);
    box-shadow: 0px 15px 20px -8px rgba(75, 131, 252, 0.45);
}

.button-secondary:hover {
    background-color: var(--system-color-green-10);
}

.buttonWrapper {
    padding: 1rem 2rem;
    border-radius: var(--mywebsite-border-radius);
    background-color: var(--system-color-green-10);
    color: var(--mywebsite-color-base);
    -webkit-transition: var(--mywebsite-contant-transition) ease-in-out;
    transition: var(--mywebsite-contant-transition) ease-in-out;
    text-transform: uppercase;
    -webkit-box-shadow: 0px 10px 5px -5px rgba(102, 207, 169, 0.45);
    box-shadow: 0px 10px 5px -5px rgba(102, 207, 169, 0.45);
    font-size: 10pt;
    cursor: pointer;
}

.buttonWrapper:hover {
    background-color: var(--system-color-red-20);
    -webkit-box-shadow: 0px 15px 20px -8px rgba(237, 27, 36, 0.45);
    box-shadow: 0px 15px 20px -8px rgba(237, 27, 36, 0.45);
    color: #ffffff;
}

.card {
    border: 1px solid var(--mywebsite-color-border);
}

/*  DoubleHeading */
.doubleHeading {
    position: relative;
}

.doubleHeading_subtitle {
    display: inline-block;
    padding: 0.5rem 0.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
    background-color: var(--mywebsite-color-base);
    text-transform: uppercase;
}

.doubleHeading_subtitle span::before {
    content: '';
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--system-color-green-10);
    border-radius: 50px;
    margin-right: 0.5rem;
}

.doubleHeading_title {
    position: relative;
    z-index: 1;
    line-height: 0;
}

.doubleHeading_content {
    margin: 1.1rem 0;
}

.doubleHeading_content p {
    line-height: 1.618rem;
    color: var(--mywebsite-global-color-text);
}

/* Fin DoubleHeading */
#breadcrumbs {
    border-bottom: 1px solid var(--mywebsite-color-border);
    background-image: url(../img/newsletter-bg.png);
}

.breadcrumbWrapper {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 300px;
}

.breadcrumbWrapper .breadcrumbs-content {
    text-align: center;
}

.wrapper {
    width: 100%;
}

.wrapper_content {
    max-width: 100%;
}

@media only screen and (min-width: 769px) and (max-width: 2000px) {
    .wrapper_content {
        max-width: 550px;
    }
}

.accordion .card-header {
    background-color: var(--system-color-red-20);
}

.accordion .card-header button {
    color: var(--system-color-white-10);
}

.newsContentWrapper .newsContentWrapper-content {
    max-width: 550px;
}

img {
    width: 100%;
    vertical-align: middle;
}

.fullWidth {
    max-width: 100%;
    height: auto;
}

.formGroup input,
.formGroup textarea {
    border: 1px solid var(--system-color-bluelight-20);
}

/** HEADER */
header {
    position: fixed;
    background-color: var(--mywebsite-color-base);
    border-bottom: 1px solid var(--mywebsite-color-border);
    font-family: var(--mywebsite-html-font);
    width: 100%;
    z-index: 9;
    top: 0;
}

#headerWrapper {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 2em;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    letter-spacing: 0.02rem;
    height: 100px;
}

@media only screen and (min-width: 981px) and (max-width: 1200px) {
    #headerWrapper {
        padding: 0;
    }
}

#headerWrapper .headerItem img {
    max-width: 150px;
}

#headerWrapper .headerItem ul {
    height: 100%;
    text-transform: uppercase;
    -ms-flex-line-pack: center;
    align-content: center;
}

#headerWrapper .headerItem ul.navMenuContent li {
    position: relative;
}

#headerWrapper .headerItem ul.navMenuContent li ul.navSubMenuContent {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: rotateX(0) translateZ(0);
    transform: rotateX(0) translateZ(0);
    border-radius: 0 0 5px 5px;
    -webkit-transition: all var(--mywebsite-contant-transition) ease-in-out;
    transition: all var(--mywebsite-contant-transition) ease-in-out;
    -webkit-box-shadow: 11px 10px 38px 0 rgba(46, 63, 99, 0.15);
    box-shadow: 11px 10px 38px 0 rgba(46, 63, 99, 0.15);
    background-color: var(--mywebsite-color-base);
    color: var(--system-color-red-20);
    height: auto;
    padding: 1rem 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 200px;
    white-space: nowrap;
    position: absolute;
    top: calc(100% + 15px);
}

#headerWrapper .headerItem ul.navMenuContent li ul.navSubMenuContent li a.navSubMenuContent-li-a {
    padding: 0.5rem 0 0.5rem;
    text-align: center;
}

#headerWrapper .headerItem ul.navMenuContent li ul.navSubMenuContent li a:hover {
    background-color: var(--system-color-red-20);
    color: var(--mywebsite-color-base);
}

#headerWrapper .headerItem ul.navMenuContent li:hover ul.navSubMenuContent {
    opacity: 1;
    visibility: visible;
    -webkit-transform: rotateX(0) translateZ(0);
    transform: rotateX(0) translateZ(0);
    top: 100%;
}

#headerWrapper .headerItem ul.navMenuContent .menu-item {
    height: 100px;
    width: auto;
}

#headerWrapper .headerItem ul.navMenuContent .menu-item a {
    height: 100%;
    padding: 0px 16px 0px 16px;
    position: relative;
    -webkit-transition: var(--mywebsite-contant-transition);
    transition: var(--mywebsite-contant-transition);
}

#headerWrapper .headerItem ul.navMenuContent .menu-item a .menu-item-link {
    font-weight: 600;
    font-size: 14px;
}

#headerWrapper .headerItem ul.navMenuContent .menu-item a.active,
#headerWrapper .headerItem ul.navMenuContent .menu-item a:hover {
    color: var(--system-color-red-20);
}

nav.navWrapper {
    height: 99px;
}

.floatNav {
    position: fixed;
    right: 2rem;
    top: 50vh;
    width: 40px;
    overflow: hidden;
    z-index: 9;
    scroll-behavior: smooth;
}

.floatNav li {
    margin: 0.5rem 0;
}

.floatNav li a span {
    display: block;
    width: 15px;
    height: 15px;
    background-color: var(--system-color-red-20);
    border-radius: 50px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.floatNav li a span:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

/** FIN HEADER */
/** MAIN */
main {
    padding: 0 0 5rem;
    margin-top: 100px;
}

main #hero {
    background-color: var(--mywebsite-color-base);
    background-image: url('../img//hero.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 91.9436vh;
}

main #newsletter {
    background-color: #f5f5f5;
    background-image: url('../img/newsletter-bg.png');
    background-position: center center;
}

main #video {
    position: relative;
    min-height: 91.9436vh;
}

main #video .clipPath {
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: var(--system-color-red-20);
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
    height: 500px;
}

main #video .videoWrapper {
    border-radius: var(--mywebsite-border-radius);
    overflow: hidden;
    -webkit-box-shadow: 0px 8px 16px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 8px 16px 5px rgba(0, 0, 0, 0.25);
    background-color: #fff;
}

main #about .sectionContent_wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    place-items: center;
}

@media only screen and (min-width: 769px) and (max-width: 2000px) {
    main #about .sectionContent_wrapper {
        -ms-grid-columns: (1fr) [16];
        grid-template-columns: repeat(16, 1fr);
        gap: 40px;
    }
}

main #about .sectionContent_wrapper-content {
    -ms-grid-column: 1;
    grid-column: 1;
    padding: 20px;
}

@media only screen and (min-width: 769px) and (max-width: 981px) {
    main #about .sectionContent_wrapper-content {
        -ms-grid-column: 1;
        -ms-grid-column-span: 15;
        grid-column: 1 / 16;
    }
}

@media only screen and (min-width: 981px) and (max-width: 1200px) {
    main #about .sectionContent_wrapper-content {
        -ms-grid-column: 10;
        -ms-grid-column-span: 8;
        grid-column: 10 / span 8;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 2000px) {
    main #about .sectionContent_wrapper-content {
        -ms-grid-column: 9;
        -ms-grid-column-span: 9;
        grid-column: 9 / span 9;
    }
}

main #about .imgWrapper {
    -ms-grid-column: 1;
    grid-column: 1;
}

@media only screen and (min-width: 769px) and (max-width: 981px) {
    main #about .imgWrapper {
        -ms-grid-column: 1;
        -ms-grid-column-span: 15;
        grid-column: 1 / 16;
    }
}

@media only screen and (min-width: 981px) and (max-width: 2000px) {
    main #about .imgWrapper {
        -ms-grid-column: 1;
        -ms-grid-column-span: 8;
        grid-column: 1 / span 8;
    }
}

main #newsWrapper .sectionContent_wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    place-items: center;
}

@media only screen and (min-width: 769px) and (max-width: 2000px) {
    main #newsWrapper .sectionContent_wrapper {
        -ms-grid-columns: (1fr) [16];
        grid-template-columns: repeat(16, 1fr);
        gap: 40px;
    }
}

main #newsWrapper .sectionContent_wrapper-content {
    -ms-grid-column: 1;
    grid-column: 1;
    padding: 20px;
}

@media only screen and (min-width: 769px) and (max-width: 981px) {
    main #newsWrapper .sectionContent_wrapper-content {
        -ms-grid-column: 2;
        -ms-grid-column-span: 14;
        grid-column: 2 / 16;
    }
}

@media only screen and (min-width: 981px) and (max-width: 1200px) {
    main #newsWrapper .sectionContent_wrapper-content {
        -ms-grid-column: 1;
        -ms-grid-column-span: 8;
        grid-column: 1 / 9;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 2000px) {
    main #newsWrapper .sectionContent_wrapper-content {
        -ms-grid-column: 1;
        -ms-grid-column-span: 7;
        grid-column: 1 / 8;
    }
}

main #newsWrapper .imgWrapper {
    -ms-grid-column: 1;
    grid-column: 1;
}

@media only screen and (min-width: 769px) and (max-width: 981px) {
    main #newsWrapper .imgWrapper {
        -ms-grid-column: 1;
        -ms-grid-column-span: 15;
        grid-column: 1 / 16;
    }
}

@media only screen and (min-width: 981px) and (max-width: 1200px) {
    main #newsWrapper .imgWrapper {
        -ms-grid-column: 9;
        -ms-grid-column-span: 7;
        grid-column: 9 / 16;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 2000px) {
    main #newsWrapper .imgWrapper {
        -ms-grid-column: 9;
        -ms-grid-column-span: 7;
        grid-column: 9 / 16;
    }
}

/* PRODUCTOS  */
#productos .sectionHeading {
    text-align: center;
}

#productos .sectionHeading h3 {
    font-size: 2.5rem;
    margin: 1.1rem 0;
    font-weight: 900;
    color: var(--system-color-red-20-outline);
}

#productos .minWidth {
    /* uso del flex  */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    margin: 0px auto;
    max-width: 500px;
}

#productos ul.productosWrapper-ul.center {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(320px, 1fr)) [auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1.5rem;
    margin-top: 2rem;
}

#productos ul li {
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#productos ul li.productosWrapper-li {
    display: block;
    border-radius: 10px;
    overflow: hidden;
}

#productos ul li.productosWrapper-li img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

#productos ul li.productosWrapper-li .imagenWrapper {
    position: relative;
    overflow: hidden;
}

#productos ul li.productosWrapper-li .imagenWrapper_text {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
}

#productos ul li.productosWrapper-li .imagenWrapper_text::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
}

#productos ul li.productosWrapper-li .imagenWrapper_text_inner {
    margin-top: 20px;
    margin-left: 20px;
    position: relative;
    z-index: 1;
}

#productos ul li.productosWrapper-li .imagenWrapper_text_inner span {
    width: 50px;
    height: 50px;
    background-color: var(--system-color-red-20);
    border-radius: 50px;
    margin-right: 20px;
    background-image: url(../img/logo.jpg);
    background-size: cover;
    padding: 10px;
}

#productos ul li.productosWrapper-li .textContainer {
    padding: 20px 30px 30px;
    text-transform: uppercase;
}

#productos ul li.productosWrapper-li:hover {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
    -webkit-box-shadow: 0px 25px 40px -30px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 25px 40px -30px rgba(0, 0, 0, 0.35);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#productos ul li.productosWrapper-li:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* FIN PRODUCTOS  */
/* PRODUCTO  */
#producto #imagenContentWrapper {
    width: 100%;
    max-width: 760px;
}

#producto #imagenContentWrapper .contentWrapper .tinyImagenWrapper ul.tinyimagenWrapper_ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(170px, 1fr)) [auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    grid-gap: 20px;
    padding: 20px 0;
}

#producto #imagenContentWrapper .contentWrapper .tinyImagenWrapper ul li {
    padding: 1rem;
}

#producto #infoContentWrapper {
    background-color: var(--mywebsite-color-base);
    width: 100%;
    max-width: calc(100% - 760px);
}

#producto #infoContentWrapper .contentWrapper-title .title {
    font-size: var(--mywebsite-h2-font-size);
}

#producto .tagged_as {
    overflow: hidden;
    display: block;
    padding: 10px;
}

#producto .tagged_as .tagItems {
    padding: 0.5rem 1rem;
    background-color: #bac4e1;
    margin: 5px;
    text-transform: capitalize;
    border-radius: 50px;
}

/* FIN PRODUCTO  */
#ourContactWrapper ul {
    overflow: hidden;
}

#ourContactWrapper ul.ourContact li {
    margin-bottom: 2rem;
}

#ourContactWrapper ul.ourContact li .ourContact_widget-icon {
    width: 70px;
    text-align: center;
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='number'],
textarea {
    outline: none;
    border-width: 1px;
    border-color: var(--system-color-bluelight-20);
    border-style: solid;
    -webkit-transition: var(--mywebsite-contant-transition);
    transition: var(--mywebsite-contant-transition);
}

.inputForm {
    padding: 1rem 2rem;
    margin: 0.5rem 0.25rem;
}

.inputForm:focus {
    border: 1px solid var(--system-color-red-20-outline);
}

/** FIN MAIN */
/** FOOTER */
footer {
    background: linear-gradient(250deg, #211f1f, #000000);
    color: var(--system-color-bluelight-10);
    -webkit-animation: footerAnimation 10s infinite;
    animation: footerAnimation 10s infinite;
    -webkit-transition: -webkit-animation 0.3s ease-in-out;
    transition: -webkit-animation 0.3s ease-in-out;
    transition: animation 0.3s ease-in-out;
    transition: animation 0.3s ease-in-out, -webkit-animation 0.3s ease-in-out;
    background-size: 400%;
    position: relative;
}

.footer {
    padding: 0 2em;
}

.footerItem {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (40px) [4];
    grid-template-rows: repeat(4, 40px);
    grid-row-gap: 20px;
    row-gap: 20px;
    margin-bottom: 2em;
}

.footerItem-content {
    overflow: hidden;
    height: 100%;
    background-color: transparent;
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    grid-row: 2 / span 3;
    line-height: 40px;
}

.footerItem_title {
    font-weight: 900;
}

.footerItem-content_item span {
    opacity: 0.8;
    font-size: 0.8rem;
}

.footerLogoMain img {
    max-width: 180px;
}

.footerTextContent {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / 4;
}

.footerSocialIcons {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr) [3];
    grid-template-columns: repeat(3, 1fr);
    max-width: 250px;
    overflow: hidden;
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    grid-row: 4 / 6;
}

.footerSocialIcons a {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 1px solid;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.bottomFooterContent {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 2rem 0;
    border-top: 1px solid var(--system-color-red-50);
}

.bottomFooterContent p {
    font-size: var(--system-font-size-xsmall);
    opacity: 0.8;
}

.bottomFooterContent p a {
    font-weight: bolder;
    opacity: 1;
}

.brand {
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-column: 1 / 8;
}

@media only screen and (min-width: 769px) and (max-width: 981px) {
    .brand {
        -ms-grid-column: 1;
        -ms-grid-column-span: 15;
        grid-column: 1 / 16;
    }
}

@media only screen and (min-width: 981px) and (max-width: 1200px) {
    .brand {
        -ms-grid-column: 1;
        -ms-grid-column-span: 15;
        grid-column: 1 / 16;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 2000px) {
    .brand {
        -ms-grid-column: 1;
        -ms-grid-column-span: 5;
        grid-column: 1 / span 5;
    }
}

.contact {
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-column: 1 / 8;
}

@media only screen and (min-width: 769px) and (max-width: 981px) {
    .contact {
        -ms-grid-column: 1;
        -ms-grid-column-span: 15;
        grid-column: 1 / 16;
    }
}

@media only screen and (min-width: 981px) and (max-width: 1200px) {
    .contact {
        -ms-grid-column: 1;
        -ms-grid-column-span: 4;
        grid-column: 1 / 5;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 2000px) {
    .contact {
        -ms-grid-column: 6;
        -ms-grid-column-span: 3;
        grid-column: 6 / span 3;
    }
}

.sitemap {
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-column: 1 / 8;
}

.sitemap a {
    color: var(--system-color-red-20);
}

@media only screen and (min-width: 769px) and (max-width: 981px) {
    .sitemap {
        -ms-grid-column: 1;
        -ms-grid-column-span: 15;
        grid-column: 1 / 16;
    }
}

@media only screen and (min-width: 981px) and (max-width: 1200px) {
    .sitemap {
        -ms-grid-column: 6;
        -ms-grid-column-span: 4;
        grid-column: 6 / 10;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 2000px) {
    .sitemap {
        -ms-grid-column: 9;
        -ms-grid-column-span: 2;
        grid-column: 9 / span 2;
    }
}

.lastNews {
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-column: 1 / 8;
}

@media only screen and (min-width: 769px) and (max-width: 981px) {
    .lastNews {
        -ms-grid-column: 1;
        -ms-grid-column-span: 15;
        grid-column: 1 / 16;
    }
}

@media only screen and (min-width: 981px) and (max-width: 1200px) {
    .lastNews {
        -ms-grid-column: 11;
        -ms-grid-column-span: 5;
        grid-column: 11 / 16;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 2000px) {
    .lastNews {
        -ms-grid-column: 11;
        -ms-grid-column-span: 5;
        grid-column: 11 / 16;
    }
}

@-webkit-keyframes footerAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes footerAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/** FIN FOOTER */
