/* General  
*
* Resteos generales 
* clases generales 
* colores
* typos
* 
*/
@import url('https://fonts.googleapis.com/sass2?family=Inter:wght@200;300;400;600&display=swap');

@import 'queries/media-queries';
@import 'colors/colors';
@import 'fonts/fontsizes';
@import 'fonts/fontfamily';
@import 'atoms/root';

%content {
    content: '';
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--system-color-green-10);
    border-radius: 50px;
    margin-right: 0.3rem;
    display: inline-flex;
}

*,
*::before,
*::after {
    box-sizing: border-box !important;
}

html,
body,
div,
span,
applet,
object,
iframe,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend {
    margin: 0;
    border: 0;
    outline: 0;
    padding: 0;
    font-size: 16px;
    color: inherit;
    font-weight: inherit;
    font-style: inherit;
    vertical-align: baseline;
    list-style: none;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none !important;
}

body {
    font-family: 'Inter', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue,
        Helvetica, Arial !important;
}

.container {
    max-width: 1400px;
}

.active {
    color: var(--system-color-red-20);
}

.sitemap a {
    color: var(--system-color-red-20);
}

.divider {
    height: 5rem;
}

button {
    background-color: var(--mywebsite-color-base);
    margin: 0.2rem;
}

.buttonWrapper {
    padding: 1rem 2rem;
    border-radius: var(--mywebsite-border-radius);
    background-color: var(--system-color-green-10);
    color: var(--mywebsite-color-base);
    -webkit-transition: var(--mywebsite-contant-transition) ease-in-out;
    transition: var(--mywebsite-contant-transition) ease-in-out;
    text-transform: uppercase;
    -webkit-box-shadow: 0px 10px 5px -5px rgba(102, 207, 169, 0.45);
    box-shadow: 0px 10px 5px -5px rgba(102, 207, 169, 0.45);
    font-size: 10pt;
    cursor: pointer;

    &:hover {
        background-color: var(--system-color-red-20);
        -webkit-box-shadow: 0px 15px 20px -8px rgba(237, 27, 36, 0.45);
        box-shadow: 0px 15px 20px -8px rgba(237, 27, 36, 0.45);
        color: var(--system-color-white-20);
    }
}

@import '../sass/atoms/_input';

.title-wrapper {
    text-transform: uppercase;
    font-weight: 800;
    height: 40px;

    .title {
        &::before {
            @extend %content;
        }
    }
}

/* fin  general */

/* Header  
*
*/

header {
    position: fixed !important;
    background-color: var(--mywebsite-color-base);
    border-bottom: 1px solid var(--mywebsite-color-border);
    width: 100%;
    z-index: 9;
    top: 0;
}

#headerWrapper {
    padding: 0;
    height: 100px;
    letter-spacing: 0.02rem;
}

.headerItem {
    nav {
        &.navWrapper {
            height: 99px;
        }
    }

    ul {
        height: 100%;
        text-transform: uppercase;
        align-content: center;
    }

    li.menu-item {
        height: 100px;
        width: auto;

        &:hover {
            a {
                color: var(--system-color-red-20);
            }

            ul {
                &.navSubMenuContent {
                    opacity: 1;
                    visibility: visible;
                    transform: rotateX(0) translateZ(0);
                    top: 100%;
                }
            }
        }

        a {
            display: flex;
            align-items: center;
            height: 100%;
            padding: 0px 16px 0px 16px;
            position: relative;
            transition: all 0.3s ease-in-out;
        }

        .menu-item-link {
            font-weight: 600;
            font-size: 14px;
        }
    }
}

.headerItem img {
    max-width: 150px;
}

.navMenuContent li {
    position: relative;
}

.navSubMenuContent {
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transform: rotateX(0) translateZ(0);
    border-radius: 0 0 5px 5px;
    transition: all 0.3s ease-in-out;
    box-shadow: 11px 10px 38px 0 rgba(46, 63, 99, 0.15);
    background-color: var(--mywebsite-color-base);
    color: var(--system-color-red-20);
    height: auto;
    padding: 1rem 0;
    flex-direction: column;
    min-width: 200px;
    white-space: nowrap;
    position: absolute;
    top: calc(100% + 15px);
}

.floatNav {
    position: fixed;
    right: 2rem;
    top: 50vh;
    width: 40px;
    overflow: hidden;
    z-index: 9;
    scroll-behavior: smooth;
}

/* fin header */

/* Main
*
* */
main {
    padding: 0 0 5rem;
    margin-top: 100px;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

#breadcrumbs {
    border-bottom: 1px solid var(--mywebsite-color-border);
    background-image: url(../img/newsletter-bg.png);
}

@mixin flex-center {
    display: flex;
    justify-content: center;

    @content;
}

.breadcrumbWrapper {
    @include flex-center {
        align-items: center;
    }

    min-height: 300px;

    .breadcrumbs-content {
        text-align: center;
    }
}

@import '../sass/queries/media-queries';
@import '../sass/atoms/text';
@import '../sass/atoms/title';
@import '../sass/atoms/boxshadows';
@import '../sass/atoms/borderRadius';
@import '../sass/atoms/card';
@import '../sass/components/doubleHeading';
@import '../sass/components/breadcrumbs';
@import '../sass/components/wrapper';

/*Fin Main */
/** Paginas */
.post {
    h2 {
        font-size: 2rem;
    }

    &_date {
        border: 1px solid var(--system-color-red-20-outline);
        width: 3.75rem;
        height: 3.75rem;
        text-align: center;
        border-radius: 0.313rem;
        font-size: 0.8rem;
        padding: 0 9px;

        span {
            font-size: 1.3rem;
            font-weight: 900;
        }
    }

    &_meta-like {
        color: var(--system-color-bluelight-40);

        p {
            font-size: 0.9rem;
        }

        i {
            color: var(--system-color-red-20);
        }
    }

    &_category {
        color: var(--system-color-red-20);
    }

    &_meta-data {
        color: var(--system-color-bluelight-40);
        text-transform: uppercase;

        a,
        p {
            font-size: 0.8rem;
        }
    }

    &_author {
        margin-right: 10px;
        margin-left: 10px;

        &::before {
            @extend %content;
        }
    }

    &_comment {
        p {
            &::before {
                @extend %content;
            }
        }
    }

    &_text {
        &-header {
            background-color: var(--system-color-red-20);
            color: var(--system-color-white-10);

            p {
                font-size: 1rem;
                font-weight: 800;
                opacity: 1;
            }
        }

        p {
            letter-spacing: -1px;
            line-height: 30px;
            margin-bottom: 0.7rem;
            opacity: 0.7;
            display: flex;
        }
    }

    &_items {
        counter-reset: items;

        li {
            margin-top: 10px;

            span {
                font-weight: 900;

                &::before {
                    counter-increment: items;
                    content: counter(items) '. ';
                }
            }
        }

        p {
            letter-spacing: -1px;
            line-height: 30px;
            margin-bottom: 0.7rem;
            opacity: 0.7;
            font-size: 14px;
        }
    }
}

/*  Sidebar  */
#categorias {
    ul {
        position: relative;
    }

    li {
        border-bottom: 1px solid var(--system-color-white-30);
        font-size: 1rem;
        line-height: 37px;
        font-weight: 600;
        transition: 0.3s;
        opacity: 0.5;
    }
}

#tags {
    .tag-item {
        padding: 0.5rem 0.6rem;
        margin: 0.3rem auto;
        border-radius: 5px;
        background-color: var(--system-color-white-20);
        font-size: 12px;
    }
}

#recentPost {
    li {
        margin-bottom: 1.5rem;
    }

    .recentPost {
        &_image {
            max-width: 90px;
        }

        &_content {
            font-size: 14px;
            width: calc(100% - 90px);
            padding: 0 20px;
        }
    }
}

#gallery li {
    max-width: 90px;
    margin-right: 10px;
    margin-top: 5px;
}

.sectionContent_wrapper-content {
    display: grid;
    place-content: center;
    place-items: center;
}

.wrapper-content {
    max-width: 550px;
}

@import './components/acordion';

/* Fin Paginas */

/* Footer
*
*
*/
.footer {
    padding: 0 2em;

    &Item-content {
        line-height: 40px;

        p,
        a {
            font-size: 0.9rem;
        }

        &_item span {
            opacity: 0.8;
            font-size: 0.8rem;
        }
    }

    &TextContent p {
        font-size: 0.9rem;
        line-height: 27px;
        opacity: 0.8;
    }

    &SocialIcons {
        margin-top: 2rem;
        max-width: 250px;
        overflow: hidden;

        a {
            width: 40px;
            height: 40px;
            border-radius: 50px;
            border: 1px solid;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }
    }
}

footer {
    background: linear-gradient(250deg, #211f1f, #000000);
    background-size: auto;
    color: var(--system-color-bluelight-10);
    -webkit-animation: footerAnimation 10s infinite;
    animation: footerAnimation 10s infinite;
    -webkit-transition: -webkit-animation 0.3s ease-in-out;
    transition: -webkit-animation 0.3s ease-in-out;
    transition: animation 0.3s ease-in-out;
    transition: animation 0.3s ease-in-out, -webkit-animation 0.3s ease-in-out;
    background-size: 400%;
    position: relative;
}

.footerContent {
    color: #dce1ef;
}

.footerLogoMain img {
    max-width: 180px;
}

.bottomFooterContent {
    padding: 2rem 0;
    border-top: 1px solid var(--system-color-red-50);

    p {
        font-size: var(--system-font-size-xsmall);
        opacity: 0.8;
    }
}

/* Fin footer */

/* @Media queries 
* 
* Mobile First
*  */
@media (min-width: 480px) {
    .post_items p {
        font-size: 0.9rem;
    }
}

@media (min-width: 768px) {
    .post_items p {
        font-size: 1rem;
    }
}

/* @media (min-width: 1024px )
* @media (min-width: 1440px )
*
* Desktop First 
* @media (max-width: 1440px )
* @media (max-width: 1024px )
* @media (max-width: 768px )
* @media (max-width: 480px )
*
/* Fin @Media queries  */
