@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600&display=swap');

@import 'vars/index';
@import 'mixin/index';
@import 'queries/media-queries';
@import 'reset/reboot';
@import 'atoms/root';

/** RESET */

@import 'common/common';

.divider {
    height: 5rem;
}

.full {
    width: 100%;
}

.sectionContent {
    padding: var(--mywebsite-padding-big);
}

.sectionInnerContent {
    margin: var(--mywebsite-padding-small);
}

.center {
    @extend .full;

    max-width: 1400px;
    margin: 0px auto;
}

@import 'atoms/text';
@import 'atoms/title';
@import 'atoms/boxshadows';
@import 'atoms/borderRadius';
@import 'atoms/buttons';
@import 'atoms/card';
@import 'atoms/input';
@import 'components/doubleHeading';
@import 'components/breadcrumbs';
@import 'components/wrapper';
@import 'components/acordion';

@import 'queries/_media-queries.scss';

.newsContentWrapper {
    @extend .full;

    @include flex-center;

    .newsContentWrapper-content {
        max-width: 550px;
    }
}

img {
    width: 100%;
    vertical-align: middle;
}

.fullWidth {
    @extend .full;

    max-width: 100%;
    height: auto;
}

.imgWrapper {
    @extend .full;
}

.formGroup input,
.formGroup textarea {
    @extend .full;

    border: 1px solid var(--system-color-bluelight-20);
}

/** HEADER */

@import 'layouts/header/header';

/** FIN HEADER */

/** MAIN */
@import 'pages/index';
@import 'pages/productos';
@import 'pages/producto';
@import 'pages/contactOurContact';
@import 'pages/noticias';

/** FIN MAIN */

/** FOOTER */
@import 'layouts/footer/index';

/** FIN FOOTER */
