@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600&display=swap');

@import 'queries/media-queries';
@import 'colors/colors';
@import 'fonts/fontsizes';
@import 'fonts/fontfamily';

@import 'atoms/_root';

/** RESET */
@import 'reset/reset';

@mixin flex-center {
    display: flex;
    justify-content: center;

    @content;
}

.divider {
    height: 5rem;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.full {
    width: 100%;
}

.sectionContent {
    padding: var(--mywebsite-padding-big);
}

.sectionInnerContent {
    margin: var(--mywebsite-padding-small);
}

.center {
    @extend .full;

    max-width: 1400px;
    margin: 0px auto;
}

@import 'atoms/text';
@import 'atoms/title';
@import 'atoms/boxshadows';
@import 'atoms/borderRadius';
@import 'atoms/buttons';
@import 'atoms/card';

@import 'components/doubleHeading';
@import 'components/breadcrumbs';
@import 'components/wrapper';
@import 'components/acordion';

.newsContentWrapper {
    @extend .full;

    @include flex-center;

    .newsContentWrapper-content {
        max-width: 550px;
    }
}

.buttonWrapper {
    padding: 1rem 2rem;
    border-radius: var(--mywebsite-border-radius);
    background-color: var(--system-color-green-10);
    color: var(--mywebsite-color-base);
    transition: var(--mywebsite-contant-transition) ease-in-out;
    text-transform: uppercase;
    box-shadow: 0px 10px 5px -5px rgba(#66cfa9, 0.45);
    font-size: 10pt;
    cursor: pointer;

    &:hover {
        background-color: var(--system-color-red-20);
        box-shadow: 0px 15px 20px -8px rgba(#ed1b24, 0.45);
        color: #ffffff;
    }
}

img {
    width: 100%;
    vertical-align: middle;
}

.fullWidth {
    @extend .full;

    max-width: 100%;
    height: auto;
}

.imgWrapper {
    @extend .full;
}

.formGroup input,
.formGroup textarea {
    @extend .full;

    border: 1px solid var(--system-color-bluelight-20);
}

/** HEADER */
@import 'queries/_media-queries.scss';

@import 'layouts/header/header';

/** FIN HEADER */

/** MAIN */
@import 'pages/index';
@import 'pages/productos';
@import 'pages/producto';
@import 'pages/contactOurContact';
@import 'atoms/input';

/** FIN MAIN */

/** FOOTER */
@import 'layouts/footer';

/** FIN FOOTER */
