@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/variables';
@import 'base/base';
@import 'reset/reboot';
@import 'components/index';
@import 'layouts/header/index';

@import 'pages/index';
@import 'pages/productos';
@import 'pages/producto';
@import 'pages/noticias';
@import 'pages/contact';

@import 'layouts/footer/index';
