.hamburguer-menu {
  @include samewh(2.5rem);

  position: relative;
  cursor: pointer;
  background-color: $color-red-20;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: $border-radius-big;
  transition: all 0.3s ease-in-out;
  border: 1px solid $color-red-20;
  z-index: 999;

  &-icon {
    @include samewh(20px);

    position: relative;

    span {
      position: relative;
      display: block;
      width: 100%;
      height: 2px;
      top: 9px;
      background-color: $color-white-20;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 100%;
      background-color: $color-white-20;
      display: block;
    }

    &::before {
      top: 2px;
      right: 0;
      transition: all 0.3s ease-in-out;
    }

    &::after {
      bottom: 2px;
      right: 0;
    }

    &:hover::before {
      width: 100%;
      transition: all 0.3s ease-in-out;
    }
  }
}

.menu-wrapper {
  content: "";
  position: absolute;
  z-index: 9;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &-content {
    content: "";
    position: fixed;
    width: 100%;
    height: 100vh;
    max-width: 500px;
    top: 0;
    right: -500px;
    bottom: 0;
    background-color: #fff;
    transition: all 0.6s;
    transition-delay: 1s;
  }

  &.isActive {
    opacity: 1;
    transition-delay: 1s;
    transform: translate3d(100%, 0%, 0%);
    transition-timing-function: cubic-bezier(0.53, 0.49, 0, 1.01) !important;
    transition: transform 0.6s ease-in-out 0s;

    .menu-wrapper-content {
      right: 0;
      transition-delay: 0.2s;
    }
  }

  &.smooth {
    opacity: 1;
    transition-delay: 1s;
    transform: translate3d(100%, 0%, 0%);
    transition-timing-function: cubic-bezier(0.53, 0.49, 0, 1.01) !important;
    transition: transform 0.6s ease-in-out 0s;

    .menu-wrapper-content {
      right: -500px;
      transition-delay: 0.2s;
    }
  }
}
