.hamburguer-menu {
  @include samewh(2.5rem);

  background-color: $color-red-20;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: $border-radius-big;
  transition: all 0.3s ease-in-out;
  border: 1px solid $color-red-20;

  &-icon {
    @include samewh(20px);

    position: relative;

    span {
      position: relative;
      display: block;
      width: 100%;
      height: 2px;
      top: 9px;
      background-color: $color-white-20;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 100%;
      background-color: $color-white-20;
      display: block;
    }

    &::before {
      top: 2px;
      right: 0;
      transition: all 0.3s ease-in-out;
    }

    &::after {
      bottom: 2px;
      right: 0;
    }

    &:hover::before {
      width: 100%;
      transition: all 0.3s ease-in-out;
    }
  }
}
