header {
  position: fixed;
  background-color: var(--color-base);
  border-bottom: 1px solid var(--color-border);
  font-family: var(--font-familt-global);
  width: 100%;
  z-index: 9;
  top: 0;
}

.menu-icons {
  width: 12.5rem;
}

#headerWrapper {
  padding: 0 2em;

  @include mq(medium) {
    padding: 0;
  }

  letter-spacing: 0.02rem;
  height: 80px;

  .headerItem {
    img {
      max-width: 120px;
    }
  }
}

//@import "./nav";
@import "./hamburguer";

.floatNav {
  position: fixed;
  right: 2rem;
  top: 50vh;
  width: 3rem;
  z-index: 9;
  scroll-behavior: smooth;

  ul {
    @extend .full;
  }

  li {
    margin: 0.5rem 0;

    a {
      span {
        display: block;

        @include samewh(0.938rem);

        background-color: var(--color-black-10);
        border-radius: $border-radius-big;
        transition: all 0.2s ease-in-out;
        transform: scale(1);

        &:hover {
          transform: scale(1.2);
          transition: all 0.2s ease-in-out;
        }
      }
    }
  }
}
