.menu-wrapper {
  content: "";
  position: absolute;
  z-index: 9;
  opacity: 0;
  top: 0;
  right: 0;
  left: 0;

  &-content {
    content: "";
    position: fixed;
    width: 100%;
    height: 100vh;
    max-width: 500px;
    top: 0;
    right: -500px;
    bottom: 0;
    background-color: #fff;
    transition-delay: 1s;
  }

  &.isActive {
    opacity: 1;
    z-index: 999;
    transition-delay: 0.2s;
    transform: translate3d(100%, 0%, 0%);
    transition-timing-function: cubic-bezier(0.53, 0.49, 0, 1.01) !important;
    transition: all 0.2s ease-in-out;

    .menu-wrapper-content {
      right: 0;
      transition-delay: 0.2s;
      transition: transform 0.2s, right 0.3s;
      transform-origin: center right;
    }

    .nav--wrapper__ul {
      opacity: 1;
    }
  }

  &.smooth {
    opacity: 1;
    transition-delay: 0.2s;
    transform: translate3d(100%, 0%, 0%);
    transition-timing-function: cubic-bezier(0.53, 0.49, 0, 1.01) !important;
    transition: all 0.2s ease-in-out;

    .menu-wrapper-content {
      right: -500px;
      transition-delay: 0.2s;
      transition: transform 0.2s, right 0.3s;
      transform-origin: center right;
    }
  }

  nav {
    &.navWrapper {
      @extend .items-center;

      @extend .full-height;

      @extend .justify-center;

      ul {
        @extend .scale-15;
      }
    }
  }
}

.gotoCart {
  position: relative;
  &::before {
    content: "1";
    display: flex;
    width: 15px;
    height: 15px;
    background-color: $color-red-20;
    border-radius: 50px;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -5px;
    right: -10px;
    color: $color-white-10;
  }
}
