$colors: (
    white: (
        10: hsl(255, 100%, 100%),
        20: hsl(0, 0%, 95%),
        30: hsl(0, 0, 90%),
        40: hsl(0, 0, 80%),
        50: hsl(0, 0, 65%),
    ),
    bluelight: (
        10: hsl(225, 39%, 90%),
        20: hsl(225, 39%, 81%),
        30: hsl(225, 39%, 73%),
        40: hsl(225, 39%, 60%),
    ),
    green: (
        10: hsl(158, 52%, 61%),
        20: hsl(158, 52%, 50%),
        30: hsl(158, 52%, 40%),
        40: hsl(158, 52%, 30%),
    ),
    red: (
        10: hsl(357, 100%, 80%),
        20: hsl(357, 85%, 52%),
        30: hsl(357, 100%, 40%),
        40: hsl(357, 100%, 30%),
        50: hsl(357, 100%, 20%),
    ),
    black: (
        10: hsl(150, 14%, 15%),
    ),
);
