$fonts: (
    xsmall: 0.8rem,
    small: 0.9rem,
    regular: 1.6rem,
    large: 1.2rem,
    xlarge: 2.5rem,
    xxlarge: 4rem,
);

$font-sizes: (
    small: (
        16: 1rem,
        18: 1.125rem,
        25: 1.563rem,
        31: 1.938rem,
        39: 2.438rem,
        50: 3.125rem,
    ),
    medium: (),
);
