$fonts: (
    xsmall: 0.8rem,
    small: 0.9rem,
    regular: 1.6rem,
    large: 1.2rem,
    xlarge: 2.5rem,
    xxlarge: 4rem,
);

$font-sizes: (
    small: (
        300: 1rem,
        400: 1.125rem,
        500: 1.563rem,
        600: 1.938rem,
        700: 2.438rem,
        800: 3.125rem,
    ),
    large: (
        300: 1rem,
        400: 1.438rem,
        500: 2rem,
        600: 2.5rem,
        700: 4rem,
        800: 5.653rem,
    ),
);
