$font-size-general: 16px;
$font-size-h1: 4rem;
$font-size-h2: 3rem;
$font-size-h3: 2rem;
$font-size-h4: 1.2rem;

$font-family-base: 'Inter', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue,
    Helvetica, Arial;

$font-weight-normal: inherit;

$fontSizes: (
    font-size-general: $font-size-general,
    font-size-h1: $font-size-h1,
    font-size-h2: $font-size-h2,
    font-size-h3: $font-size-h3,
    font-size-h4: $font-size-h4,
);
