$font-size-general: 1rem;
$font-size-h1: moreBigger($font-size-general, 3);
$font-size-h2: moreBigger($font-size-general, 2);
$font-size-h3: moreBigger($font-size-general, 1.5);
$font-size-h4: moreBigger($font-size-general, 0.7);

$font-family-base: 'Inter', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue,
    Helvetica, Arial;

$font-weight-normal: inherit;

$fontSizes: (
    small: (
        general: $font-size-general,
        h1: 2.483rem,
        h2: 1.938rem,
        h3: 1.563rem,
        h4: 1.125rem,
    ),
    large: (
        general: $font-size-general,
        h1: $font-size-h1,
        h2: $font-size-h2,
        h3: $font-size-h3,
        h4: $font-size-h4,
    ),
);
