$align: (
    center: 'center',
    start: 'flex-start',
    end: 'flex-end',
    between: 'space-between',
    around: 'space-around',
    evenly: 'space-evenly',
);

@each $classname, $position in $align {
    .content-#{$classname} {
        align-content: #{$position};
    }
}
