$align: (
    start: 'flex-start',
    end: 'flex-end',
    center: 'center',
    baseline: 'baseline',
    stretch: 'stretch',
);

@each $classname, $position in $align {
    .items-#{$classname} {
        align-items: #{$position};
    }
}
