/*  map */
$direction: (
    row: 'row',
    row-reverse: 'row-reverse',
    col: 'column',
    col-reverse: 'column-reverse',
);

/* Crea las clases de FlexDirection  */
/* Crea la clase .flex-row, .flex-row-reverse, .flex-col .flex-col-reverse */
/*  */

@each $classname, $position in $direction {
    .flex-#{$classname} {
        flex-direction: #{$position};
    }
}
