$display: (
    flex: 'flex',
    inline-flex: 'inline-flex',
);

@each $classname, $position in $display {
    #{'.' + $classname} {
        display: #{$position};
    }
}

.flex {
    display: flex;
}
