$justify: (
    start: 'flex-start',
    end: 'flex-end',
    center: 'center',
    between: 'space-between',
    around: 'space-around',
    evenly: 'space-evenly',
);

@each $classname, $position in $justify {
    .justify-#{$classname} {
        justify-content: #{$position};
    }
}
