$justify: (
    auto: 'auto',
    start: 'start',
    end: 'flex-end',
    center: 'center',
    stretch: 'stretch',
);

@each $classname, $position in $justify {
    .justify-self-#{$classname} {
        justify-self: #{$position};
    }
}
