$justify: (
    start: 'start',
    end: 'flex-end',
    center: 'center',
    stretch: 'stretch',
);

@each $classname, $position in $justify {
    .justify-items-#{$classname} {
        justify-items: #{$position};
    }
}
