$justify: (
    justify-items-start: 'start',
    justify-items-end: 'flex-end',
    justify-items-center: 'center',
    justify-items-stretch: 'stretch',
);

@each $classname, $position in $justify {
    #{'.' + $classname} {
        justify-items: #{$position};
    }
}
