@import '../fonts/fontsizes';
@import '../fonts/fontfamily';
@import '../colors/colors';

:root {
    @each $color, $shades in $colors {
        @each $shade, $value in $shades {
            --color-#{$color}-#{$shade}: #{$value};
        }
    }

    @each $size, $value in $fonts {
        --font-size-#{$size}: #{$value};
    }

    @each $font, $value in $fontfamily {
        --font-family-#{$font}: #{$value};
    }

    @each $size, $value in $fontSizes {
        --#{$size}: #{$value};
    }

    --color-red-20-outline: #ed1b24;
    --mywebsite-color-base: var(--color-white-10);
    --mywebsite-color-footer: var(--color-black-10);
    --mywebsite-color-footer-paragraph: #bac4e1;
    --mywebsite-color-border: var(--color-white-20);
    --mywebsite-border-radius: $border-radius;
    --mywebsite-border-radius-circle: $border-radius-big;
    --mywebsite-global-color-text: #333;
    --mywebsite-contant-transition: 0.5s;
    --mywebsite-h1-font: 'Lato', sans-serif;
    --mywebsite-h2-font: 'Lato', sans-serif;
    --mywebsite-h3-font: 'Open Sans', sans-serif;
    --padding-big: 5rem 1.6rem;
    --padding-small: 2rem 0;
    --title-big: 3rem;
    --mywebsite-shadow-primary: 0px 8px 16px -4px rgba(#ed1b24, 0.25);
}
