.superBigTitle {
    font-size: 70px;
    line-height: 70px;
    font-weight: 900;

    span {
        font-size: 70px;
        display: block;
    }
}

.bigTitle {
    font-size: var(--fs-h1);
    line-height: 2.5rem;
    font-weight: 900;
    color: var(--color-red-20-outline);

    @include mq(small) {
        font-size: var(--fs-h1);
    }

    @include mq(medium) {
        font-size: var(--fs-h2);
    }

    @include mq(xlarge) {
        font-size: var(--fs-h3);
    }
}

.smallTitle {
    font-size: var(--fs-h4);
}
