.superBigTitle {
    font-size: 70px;
    line-height: 70px;
    font-weight: 900;

    span {
        font-size: 70px;
        display: block;
    }
}

.bigTitle {
    font-size: var(--font-size-h1);
    line-height: 1em;
    font-weight: 900;
    color: var(--system-color-red-20-outline);

    @include mq(small) {
        font-size: var(--font-size-h1);
    }

    @include mq(medium) {
        font-size: var(--font-size-h2);
    }

    @include mq(xlarge) {
        font-size: var(--font-size-h3);
    }
}

.smallTitle {
    font-size: var(--mywebsite-title-small);
}
