.accordion {
  .card {
    overflow: hidden;

    &:not(:last-of-type) {
      border-bottom: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    &-header {
      border-radius: 0;
      margin-bottom: -1px;
    }

    &-header {
      background-color: var(--color-red-20);
      margin-bottom: 0;
      button {
        color: var(--color-white-10);
        cursor: pointer;
        padding: 1rem 1.25rem;
        text-align: left;
      }

      .btn-block {
        display: block;
        width: 100%;
      }
    }
  }
}
