%button {
  outline: none;
  appearance: none;
  font-size: 10pt;
  padding: 1rem 2rem;
  border-radius: var(--border-radius);
  color: var(--color-red-20);
  border: 0;
  background-color: transparent;
  text-transform: uppercase;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 8px 16px -4px,
    rgba(9, 30, 66, 0.31) 0px 0px 1px;
  border: 1px solid transparent;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: inline-block;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    transform: translateX(-100%);
    z-index: 1;
    border-radius: 50px;
    transition: all 0.4s cubic-bezier(0.29, 0.02, 0.39, 0.71);
    background-color: rgba(0, 0, 0, 0.2);
  }

  &:hover {
    //background-color: var(--color-green-10);
    //box-shadow: 0px 15px 20px -8px rgba(102, 207, 169, 0.45);
    color: var(--color-base);
    border: 1px solid transparent;

    &::before {
      transform: translateX(0%);
      width: 100%;
      transition: all 0.3s ease;
    }
  }
}

%shadow {
  box-shadow: 0px 10px 20px -8px rgba(#ed1b24, 0.45);
}

/* Button */

.btn:hover,
.btn:focus {
  text-decoration: none;
  box-shadow: none;
  outline: 0px;
}

.btn {
  border: 0;
  background-color: transparent;
}

.button {
  @extend %button;

  background-color: var(--color-base);
  margin: 0.2rem;

  &-primary {
    @include button-content(
      var(--color-base),
      var(--color-red-20),
      0px 8px 16px -4px rgba($color-red-20, 0.25),
      $color-red-20,
      0px 15px 25px -8px 0px 8px 16px -4px rgba($color-red-20, 0.5)
    );
  }

  &-secondary {
    @include button-content(
      var(--color-base),
      var(--color-green-10),
      0px 15px 20px -8px rgba(102, 207, 169, 0.45),
      var(--color-green-10),
      0px 15px 20px -8px rgba(#4b83fc, 0.45)
    );

    &:hover {
      background-color: var(--color-green-10);
    }
  }
}
