/*  DoubleHeading */

.doubleHeading {
    position: relative;

    &_subtitle {
        display: inline-block;
        padding: 0.5rem 0.8rem;
        font-weight: 600;
        margin-bottom: 1.6rem;
        background-color: var(--color-base);
        text-transform: uppercase;

        span {
            @extend .items-center;

            &::before {
                content: '';
                width: 0.5rem;
                height: 0.5rem;

                @extend .flex;

                background-color: var(--color-green-10);
                border-radius: $border-radius-big;
                margin-right: 0.5rem;
            }
        }
    }

    &_title {
        position: relative;
        z-index: 1;
        line-height: 0;
    }

    &_content {
        margin: 1.1 0.6rem 0;

        p {
            line-height: 2rem;
            color: var(--mywebsite-global-color-text);
        }
    }
    &__body{
        @include margintb(.5rem, 2rem);
    }
}

/* Fin DoubleHeading */
