input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="phone"],
textarea {
  outline: none;
  border-width: 1px;
  border-color: var(--color-bluelight-200);
  border-style: solid;
}

textarea {
  min-height: 150px;
}

.inputForm {
  padding: 1rem 2rem;
  margin: 0.5rem 0.25rem;

  &:focus {
    border: 1px solid var(--color-red-20-outline);
    transition: all 0.5s ease-in-out;
  }
}
