input[type='text'],
input[type='password'],
input[type='email'],
input[type='number'],
textarea {
    outline: none;
    border-width: 1px;
    border-color: var(--system-color-bluelight-20);
    border-style: solid;
    transition: var(--mywebsite-contant-transition);
}

.inputForm {
    padding: 1rem 2rem;
    margin: 0.5rem 0.25rem;

    &:focus {
        border: 1px solid var(--system-color-red-20-outline);
    }
}
