.superBigTitle {
    font-size: 70px;
    line-height: 70px;
    font-weight: 900;
    span{
        font-size: 70px;
        display: block;
    }
}
.bigTitle {
    font-size: var(--mywebsite-title-big);
    line-height: 1em;
    font-weight: 900;
    color: var(--system-color-red-20-outline);

}
.smallTitle{
    font-size: var(--mywebsite-title-small);
}