* {
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend {
    margin: 0;
    border: 0;
    outline: 0;
    padding: 0;
    font-size: 16px;
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    vertical-align: baseline;
    list-style: none;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none !important;
    color: inherit;
}

body {
    font-family: 'Inter', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Helvetica, Arial;
}

.container {
    max-width: 1400px;
}
