@each $classname, $position in $display {
  #{"." + $classname} {
    display: #{$position};
  }
}

@each $classname, $position in $justify-contents {
  .justify-#{$classname} {
    justify-content: #{$position};
  }
}

@each $classname, $position in $justify-items {
  .justify-items-#{$classname} {
    justify-items: #{$position};
  }
}

@each $classname, $position in $directions {
  .direction-#{$classname} {
    flex-direction: #{$position};
  }
}

@each $classname, $position in $align-contents {
  .content-#{$classname} {
    align-content: #{$position};
  }
}

@each $classname, $position in $align-items {
  .items-#{$classname} {
    align-items: #{$position};
  }
}

@each $classname, $position in $justify-selfs {
  .justify-self-#{$classname} {
    justify-self: #{$position};
  }
}
