.globalText {
    font-size: 0.9rem;
    letter-spacing: -1px;

    @include lineHeight(16px);

    margin-bottom: 0.7rem;
    opacity: 0.7;
}

.superBigTitle {
    font-size: 4.375rem;

    @include lineHeight(3rem);

    font-weight: 900;

    span {
        font-size: 4.375rem;
        display: block;
    }
}

.bigTitle {
    font-size: var(--fs-h1);
    line-height: 2.5rem;
    font-weight: 900;
    color: var(--color-red-20-outline);

    @include mq(small) {
        font-size: var(--fs-h1);
    }

    @include mq(medium) {
        font-size: var(--fs-h2);
    }

    @include mq(xlarge) {
        font-size: var(--fs-h3);
    }
}

.smallTitle {
    font-size: var(--fs-h4);
}
