::selection {
  background: $color-red-20;
  text-shadow: none;
  color: #fff;
}

.container {
  max-width: 90rem;
  display: block;
  position: relative;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}
.collapse:not(.show) {
  display: none;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  &-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
  }
}

.child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

// Borders

.border {
  border: $border-width solid $boder-color;
}

.border-rounded {
  border-radius: $border-radius-big;
}

.divider {
  height: 5rem;
}

.full {
  width: 100%;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.center {
  @extend .full;

  flex-wrap: wrap;
  max-width: 90rem;
  margin: 0px auto;
}

.section {
  &Content {
    padding: 2rem 1rem;
    @include mq(md) {
      padding: var(--padding-big);
    }
  }

  &InnerContent {
    margin: var(--padding-small);
  }
}

.error-404 {
  width: 100%;
  max-width: 500px;
}

.flex-wrap {
  flex-wrap: wrap;
}

.newsContentWrapper {
  @extend .full;

  @include flex-center;

  .newsContentWrapper-content {
    max-width: 34.375rem;
  }
}

img {
  width: 100%;
  vertical-align: middle;
}

.fullWidth {
  @extend .full;

  max-width: 100%;
  height: auto;
}

.imgWrapper {
  @extend .full;
}

.formGroup input,
.formGroup textarea {
  @extend .full;

  border: 1px solid var(--color-bluelight-200);
}

.inner-content {
  padding: 60px 0 0 0;
  border: 1px solid hsl(357, 10%, 90%);
  border-radius: 0.5rem;
  background-color: #fff;
  max-width: 1440px;
  box-shadow: 0px 25px 4rem -30px rgba(0, 0, 0, 0.35);
}
