.container {
  max-width: 90rem;
  display: block;
  position: relative;
}

// Borders

.border {
  border: $border-width solid $boder-color;
}

.border-rounded {
  border-radius: $border-radius-big;
}

.divider {
  height: 5rem;
}

.full {
  width: 100%;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.center {
  @extend .full;

  flex-wrap: wrap;
  max-width: 90rem;
  margin: 0px auto;
}

.section {
  &Content {
    padding: var(--padding-big);
  }

  &InnerContent {
    margin: var(--padding-small);
  }
}

.error-404 {
  width: 100%;
  max-width: 500px;
}

.flex-wrap {
  flex-wrap: wrap;
}
.newsContentWrapper {
  @extend .full;

  @include flex-center;

  .newsContentWrapper-content {
    max-width: 34.375rem;
  }
}

img {
  width: 100%;
  vertical-align: middle;
}

.fullWidth {
  @extend .full;

  max-width: 100%;
  height: auto;
}

.imgWrapper {
  @extend .full;
}

.formGroup input,
.formGroup textarea {
  @extend .full;

  border: 1px solid var(--color-bluelight-200);
}

.inner-content {
  padding: 60px 0 0 0;
  border: 1px solid hsl(357, 10%, 90%);
  border-radius: 0.5rem;
  background-color: #fff;
  max-width: 1440px;
  box-shadow: 0px 25px 4rem -30px rgba(0, 0, 0, 0.35);
}
