:root {
  --system-color-red-20: #4b83fc;
  --system-color-red-20-outline: #4b83fc;
  --mywebsite-global-color-text: #415674;
  --system-color-green-10: #66cfa9;
  --mywebsite-color-base: #ffffff;
  --mywebsite-color-footer: #1e2845;
  --mywebsite-color-footer-paragraph: #bac4e1;
  --mywebsite-color-border: #f2f2f2;
  --system-color-bluelight-20: #bac4e1;
  --mywebsite-border-radius: 5px;
  --mywebsite-html-font: "Raleway", sans-serif;
  --mywebsite-contant-transition: 0.5s;
  --mywebsite-h1-font-size: 2.5rem;
  --mywebsite-h2-font-size: 2rem;
  --mywebsite-h3-font-size: 1.8rem;
  --mywebsite-h1-font: "Raleway";
  --mywebsite-h2-font: "Raleway";
  --mywebsite-h3-font: "Raleway";
  --mywebsite-padding-big: 5rem 0;
  --mywebsite-padding-small: 2rem 0;
  /*--mywebsite-list-style-image:;*/
}

/** RESET */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend {
  margin: 0;
  border: 0;
  outline: 0;
  padding: 0;
  font-size: 16px;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: var(--mywebsite-html-font);
}

.divider {
  height: 5rem;
}

.flex,
.doubleHeading .doubleHeading-subtitle span,
.doubleHeading .doubleHeading-subtitle span::before,
header #headerWrapper .headerItem nav.navWrapper,
header #headerWrapper .headerItem nav.navWrapper ul,
header #headerWrapper .headerItem nav.navWrapper ul.navMenuContent li.menu-item a,
main .carouselWrapper ul,
main .newsWrapperContent,
main #hero,
#productos
  ul.productosWrapper-ul.center
  li.productosWrapper-li
  .productosItem
  .imagenWrapper
  .imagenWrapper-text
  .imagenWrapper-text_inner,
footer#footerCentralSectionWrapper.footer #footerCentralSectionWrapper-content .footerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-center,
.doubleHeading .doubleHeading-subtitle span,
header #headerWrapper .headerItem nav.navWrapper,
header #headerWrapper .headerItem nav.navWrapper ul.navMenuContent li.menu-item a,
main .newsWrapperContent,
main #hero,
#productos
  ul.productosWrapper-ul.center
  li.productosWrapper-li
  .productosItem
  .imagenWrapper
  .imagenWrapper-text
  .imagenWrapper-text_inner {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.full,
.center,
.newsContentWrapper,
.fullWidth,
.imgWrapper,
.formGroup input,
.formGroup textarea,
header #headerWrapper .headerItem nav.navWrapper ul.navMenuContent li,
header #headerWrapper .headerItem nav.navWrapper ul.navMenuContent li ul.navSubMenuContent,
header
  #headerWrapper
  .headerItem
  nav.navWrapper
  ul.navMenuContent
  li
  ul.navSubMenuContent
  li
  a.navSubMenuContent-li-a
  span,
footer,
footer#footerCentralSectionWrapper.footer #footerCentralSectionWrapper-content .footerContent .footerItem {
  width: 100%;
}

.sectionContent {
  padding: var(--mywebsite-padding-big);
}

.sectionInnerContent {
  margin: var(--mywebsite-padding-small);
}

.center {
  max-width: 1400px;
  margin: 0px auto;
}

#breadcrumbs {
  border-bottom: 1px solid var(--mywebsite-color-border);
  background-image: url(../img/newsletter-bg.png);
}

#breadcrumbs .breadcrumbWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 300px;
}

#breadcrumbs .breadcrumbWrapper .breadcrumbs-content {
  text-align: center;
}

.doubleHeading {
  position: relative;
}

.doubleHeading .doubleHeading-subtitle {
  display: inline-block;
  padding: 0.5rem 0.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
  -webkit-box-shadow: 5px 4px 13px 0px rgba(40, 60, 99, 0.15);
  box-shadow: 5px 4px 13px 0px rgba(40, 60, 99, 0.15);
  border-radius: 50px;
  background-color: var(--mywebsite-color-base);
  text-transform: uppercase;
}

.doubleHeading .doubleHeading-subtitle span {
  font-size: 0.8rem;
}

.doubleHeading .doubleHeading-subtitle span::before {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--system-color-green-10);
  border-radius: 50px;
  margin-right: 0.5rem;
}

.doubleHeading .doubleHeading-title {
  position: relative;
  z-index: 1;
  line-height: 0;
}

.doubleHeading .doubleHeading-title .title {
  font-size: 3rem;
  line-height: 1.3334em;
  font-weight: inherit;
}

.doubleHeading .doubleHeading-content {
  margin: 1.1rem 0;
}

.doubleHeading .doubleHeading-content p {
  line-height: 1.618rem;
  color: var(--mywebsite-global-color-text);
  word-spacing: 2px;
}

.wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.wrapper .wrapper-content {
  max-width: 550px;
}

.newsContentWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.newsContentWrapper .newsContentWrapper-content {
  max-width: 550px;
}

a.buttonWrapper {
  padding: 1rem 2rem;
  border-radius: var(--mywebsite-border-radius);
  background-color: var(--system-color-green-10);
  color: var(--mywebsite-color-base);
  -webkit-transition: var(--mywebsite-contant-transition) ease-in-out;
  transition: var(--mywebsite-contant-transition) ease-in-out;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 10px 5px -5px rgba(102, 207, 169, 0.45);
  box-shadow: 0px 10px 5px -5px rgba(102, 207, 169, 0.45);
  font-size: 10pt;
  cursor: pointer;
}

a.buttonWrapper:hover {
  background-color: var(--system-color-red-20);
  -webkit-box-shadow: 0px 15px 20px -20px rgba(75, 131, 252, 0.45);
  box-shadow: 0px 15px 20px -20px rgba(75, 131, 252, 0.45);
  border: 1px solid var(--system-color-green-10);
}

button {
  padding: 1rem 2rem;
  border-radius: var(--mywebsite-border-radius);
  background-color: #fff;
  color: var(--system-color-red-20);
  -webkit-transition: var(--mywebsite-contant-transition) ease-in-out;
  transition: var(--mywebsite-contant-transition) ease-in-out;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 10px 5px -5px rgba(79, 79, 79, 0.15);
  box-shadow: 0px 10px 5px -5px rgba(79, 79, 79, 0.15);
  font-size: 10pt;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid var(--system-color-red-20-outline);
  cursor: pointer;
}

button.buttonWrapper {
  padding: 1rem 2rem;
  border-radius: var(--mywebsite-border-radius);
  background-color: var(--system-color-red-20);
  color: var(--mywebsite-color-base);
  -webkit-transition: var(--mywebsite-contant-transition) ease-in-out;
  transition: var(--mywebsite-contant-transition) ease-in-out;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 10px 5px -5px rgba(75, 131, 252, 0.45);
  box-shadow: 0px 10px 5px -5px rgba(75, 131, 252, 0.45);
  cursor: pointer;
}

button.buttonWrapper:hover {
  -webkit-transition: var(--mywebsite-contant-transition) ease-in-out;
  transition: var(--mywebsite-contant-transition) ease-in-out;
  background-color: var(--system-color-green-10);
  -webkit-box-shadow: 0px 10px 5px -5px rgba(102, 207, 169, 0.45);
  box-shadow: 0px 10px 5px -5px rgba(102, 207, 169, 0.45);
  color: var(--mywebsite-color-base);
  border: 1px solid var(--system-color-green-10);
}

button:hover {
  background-color: var(--system-color-green-10);
  -webkit-box-shadow: 0px 10px 5px -5px rgba(102, 207, 169, 0.45);
  box-shadow: 0px 10px 5px -5px rgba(102, 207, 169, 0.45);
  color: var(--mywebsite-color-base);
  border: 1px solid var(--system-color-green-10);
}

img {
  width: 100%;
  vertical-align: middle;
}

.fullWidth {
  max-width: 100%;
  height: auto;
}

.formGroup input,
.formGroup textarea {
  border: 1px solid var(--system-color-bluelight-20);
}

.inputForm {
  padding: 1rem 2rem;
  margin: 0.5rem 0;
}

/** HEADER */
header {
  position: relative;
  background-color: var(--mywebsite-color-base);
  border-bottom: 1px solid var(--mywebsite-color-border);
  font-family: var(--mywebsite-html-font);
}

header #headerWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  letter-spacing: 0.02rem;
  height: 100px;
}

header #headerWrapper .headerItem nav.navWrapper {
  height: 99px;
}

header #headerWrapper .headerItem nav.navWrapper ul {
  height: 100%;
  text-transform: uppercase;
  -ms-flex-line-pack: center;
  align-content: center;
}

header #headerWrapper .headerItem nav.navWrapper ul.navMenuContent li {
  position: relative;
}

header #headerWrapper .headerItem nav.navWrapper ul.navMenuContent li.menu-item {
  height: 100px;
}

header #headerWrapper .headerItem nav.navWrapper ul.navMenuContent li.menu-item a {
  height: 100%;
  padding: 0px 16px 0px 16px;
  position: relative;
  -webkit-transition: var(--mywebsite-contant-transition);
  transition: var(--mywebsite-contant-transition);
}

header #headerWrapper .headerItem nav.navWrapper ul.navMenuContent li.menu-item a .menu-item-link {
  font-weight: 600;
  font-size: 14px;
}

header #headerWrapper .headerItem nav.navWrapper ul.navMenuContent li.menu-item a.active,
header #headerWrapper .headerItem nav.navWrapper ul.navMenuContent li.menu-item a:hover {
  color: var(--system-color-red-20);
}

header #headerWrapper .headerItem nav.navWrapper ul.navMenuContent li ul.navSubMenuContent {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: rotateX(0) translateZ(0);
  transform: rotateX(0) translateZ(0);
  border-radius: 0 0 5px 5px;
  -webkit-transition: all var(--mywebsite-contant-transition) ease-in-out;
  transition: all var(--mywebsite-contant-transition) ease-in-out;
  -webkit-box-shadow: 11px 10px 38px 0 rgba(46, 63, 99, 0.15);
  box-shadow: 11px 10px 38px 0 rgba(46, 63, 99, 0.15);
  background-color: var(--mywebsite-color-base);
  color: var(--system-color-red-20);
  height: auto;
  padding: 1rem 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 200px;
  white-space: nowrap;
  position: absolute;
  top: calc(100% + 15px);
}

header #headerWrapper .headerItem nav.navWrapper ul.navMenuContent li ul.navSubMenuContent li a.navSubMenuContent-li-a {
  padding: 0.5rem 0 0.5rem;
  text-align: center;
}

header #headerWrapper .headerItem nav.navWrapper ul.navMenuContent li ul.navSubMenuContent li a:hover {
  background-color: var(--system-color-red-20);
  color: var(--mywebsite-color-base);
}

header #headerWrapper .headerItem nav.navWrapper ul.navMenuContent li:hover ul.navSubMenuContent {
  opacity: 1;
  visibility: visible;
  -webkit-transform: rotateX(0) translateZ(0);
  transform: rotateX(0) translateZ(0);
  top: 100%;
}

/** FIN HEADER */
/** MAIN */
main {
  padding: 0 0 5rem;
}

main #hero {
  background-color: #f5f5f5;
  background-image: url("../img/newsletter-bg.png");
  background-position: center center;
  min-height: 680px;
}

main #newsletter {
  background-color: #f5f5f5;
  background-image: url("../img/newsletter-bg.png");
  background-position: center center;
}

main #video .videoWrapper {
  border-radius: var(--mywebsite-border-radius);
  overflow: hidden;
}

#productos .sectionHeading {
  text-align: center;
}

#productos .sectionHeading h3 {
  font-size: 2.5rem;
  margin: 1.1rem 0;
}

#productos ul.productosWrapper-ul.center {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(450px, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}

#productos ul.productosWrapper-ul.center li {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#productos ul.productosWrapper-ul.center li.productosWrapper-li {
  border: 1px solid var(--mywebsite-color-border);
  display: block;
  border-radius: 10px;
}

#productos ul.productosWrapper-ul.center li.productosWrapper-li .productosItem .imagenWrapper {
  position: relative;
}

#productos ul.productosWrapper-ul.center li.productosWrapper-li .productosItem .imagenWrapper .imagenWrapper-text {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  bottom: 0;
}

#productos
  ul.productosWrapper-ul.center
  li.productosWrapper-li
  .productosItem
  .imagenWrapper
  .imagenWrapper-text
  .imagenWrapper-text_inner {
  margin-left: 20px;
}

#productos
  ul.productosWrapper-ul.center
  li.productosWrapper-li
  .productosItem
  .imagenWrapper
  .imagenWrapper-text
  .imagenWrapper-text_inner
  span {
  width: 50px;
  height: 50px;
  background-color: var(--mywebsite-global-color-text);
  border-radius: 50px;
  margin-right: 20px;
}

#productos ul.productosWrapper-ul.center li.productosWrapper-li .productosItem .textContainer {
  padding: 20px 30px 30px;
}

#productos ul.productosWrapper-ul.center li.productosWrapper-li:hover {
  -webkit-transform: translateY(-15px);
  transform: translateY(-15px);
  -webkit-box-shadow: 0px 25px 40px -30px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 25px 40px -30px rgba(0, 0, 0, 0.35);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

/* PRODUCTO  */
#producto #imagenContentWrapper {
  width: 100%;
  max-width: 760px;
}

#producto #imagenContentWrapper .contentWrapper .tinyImagenWrapper ul.tinyImagenWrapper-ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(170px, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  grid-gap: 20px;
  padding: 20px 0;
}

#producto #imagenContentWrapper .contentWrapper .tinyImagenWrapper ul li {
  padding: 1rem;
}

#producto #infoContentWrapper {
  background-color: var(--mywebsite-color-base);
  width: 100%;
  max-width: calc(100% - 760px);
}

#producto #infoContentWrapper .contentWrapper-title .title {
  font-size: var(--mywebsite-h2-font-size);
}

#producto .tagged_as {
  overflow: hidden;
  display: block;
  padding: 10px;
}

#producto .tagged_as .tagItems {
  padding: 0.5rem 1rem;
  background-color: #bac4e1;
  margin: 5px;
  text-transform: capitalize;
  border-radius: 50px;
}

/* FIN PRODUCTO  */
#ourContactWrapper ul {
  overflow: hidden;
}

#ourContactWrapper ul.ourContact li {
  margin-bottom: 2rem;
}

#ourContactWrapper ul.ourContact li .ourContact-widget_icon {
  width: 70px;
  text-align: center;
}

/** FIN MAIN */
/** FOOTER */
footer {
  font-family: var(--mywebsite-html-font);
  background: var(--mywebsite-color-footer);
}

footer#footerCentralSectionWrapper.footer {
  position: relative;
  overflow: hidden;
}

footer#footerCentralSectionWrapper.footer #footerCentralSectionWrapper-content .footerContent {
  color: var(--mywebsite-color-base);
}

footer#footerCentralSectionWrapper.footer #footerCentralSectionWrapper-content .footerContent .footerItem {
  max-width: calc(100% / 25%);
}

footer#footerCentralSectionWrapper.footer
  #footerCentralSectionWrapper-content
  .footerContent
  .footerItem
  .footerItem_title {
  margin-bottom: 1.5rem;
}

footer#footerCentralSectionWrapper.footer
  #footerCentralSectionWrapper-content
  .footerContent
  .footerItem
  .footerItem_title
  h3 {
  font-size: var(--mywebsite-h3-font-size);
}

footer#footerCentralSectionWrapper.footer
  #footerCentralSectionWrapper-content
  .footerContent
  .footerItem
  .footerItem-content
  p {
  line-height: 3rem;
}

footer#footerCentralSectionWrapper.footer
  #footerCentralSectionWrapper-content
  .footerContent
  .footerItem
  .footerItem-content_menu {
  color: var(--mywebsite-color-footer-paragraph);
}

footer#footerCentralSectionWrapper.footer
  #footerCentralSectionWrapper-content
  .footerContent
  .footerItem
  .footerItem-content_menu
  li {
  line-height: 3rem;
}

footer#footerCentralSectionWrapper.footer
  #footerCentralSectionWrapper-content
  .footerContent
  .footerItem
  .footerTextContent {
  padding: 1.5rem 0;
}

footer#footerCentralSectionWrapper.footer
  #footerCentralSectionWrapper-content
  .footerContent
  .footerItem
  .footerTextContent
  p {
  color: var(--mywebsite-color-footer-paragraph);
}

/** FIN FOOTER */
