.cart {
  font-weight: 700;

  &__head {
    overflow: hidden;
    background-color: #191919;
    color: $color-white-10;
    text-transform: capitalize;
  }
  &__body {
    &__item {
      border-bottom: 1px solid var(--color-bluelight-200);
      overflow: hidden;
    }
    &__image {
      max-width: 80px;
    }
    &__name {
      margin-left: 1rem;
    }
  }

  &__total {
    border: 1px solid var(--color-bluelight-200);
    &_check {
      font-weight: 700;
      text-transform: capitalize;
    }
  }
  &__title,
  &__sub {
    overflow: hidden;
    border-bottom: 1px solid var(--color-bluelight-200);
  }

  &__title {
    h3 {
      font-size: 1.6rem;
      font-weight: 700;
    }
  }
  &__sub,
  &__total_check {
    text-transform: capitalize;
  }
}
