.cart {
  font-weight: 700;

  &__head {
    overflow: hidden;
    background-color: #191919;
    color: $color-white-10;
    text-transform: capitalize;
    display: none;
    @include mq(md) {
      display: block;
    }
  }
  &__body {
    &__item {
      border-bottom: 1px solid var(--color-bluelight-200);
      overflow: hidden;
      span {
        &.mobileshow {
          display: block;
          @include mq(md) {
            display: none;
          }
        }
      }
    }
    &__image {
      max-width: 80px;

      display: none;
      @include mq(md) {
        display: block;
      }
    }
    &__name {
      margin-left: 0;
      width: 100%;
      @include mq(md) {
        margin-left: 1rem;
        width: auto;
      }
    }
  }

  &__total {
    border: 1px solid var(--color-bluelight-200);
    &_check {
      font-weight: 700;
      text-transform: capitalize;
    }
  }
  &__title,
  &__sub {
    overflow: hidden;
    border-bottom: 1px solid var(--color-bluelight-200);
  }

  &__title {
    h3 {
      font-size: 1.6rem;
      font-weight: 700;
    }
  }
  &__sub,
  &__total_check {
    text-transform: capitalize;
  }
}

.quantity {
  background: var(--color-white-20);
  padding: 10px;
  #quantity__number {
    appearance: textfield;
    width: 40px;
    background-color: transparent;
    border: 0;
    text-align: center;
  }
}

.buttons_plus,
.buttons_minus {
  width: 30px;
  height: 20px;
  text-align: center;
  cursor: pointer;
}
