#ourContactWrapper {
    ul {
        overflow: hidden;

        &.ourContact li {
            margin-bottom: 2rem;

            .ourContact_widget-icon {
                width: 70px;
                text-align: center;
            }
        }
    }
}
