main {
  margin-top: 80px;
  position: relative;
  background-color: $color-white-10;
  .carouselWrapper ul {
  }

  .newsWrapperContent {
    @extend .items-center;
  }

  #hero {
    @extend .items-center;
    position: fixed;
    background-color: var(--color-base);
    background-image: url("../img/hero.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 690px;
    @include mq(md) {
      height: 800px;
    }
  }

  #hero-heading {
    height: 750px;
  }

  #productos {
    background-color: $color-white-10;
    position: relative;
    height: 820px;
    .inner-content {
      margin-top: -120px;
      position: absolute;
      z-index: 2;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
    }
    .clipPath {
      width: 100%;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;

      clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
      height: 100vh;
      max-height: 500px;
    }
  }

  #newsletter {
    position: relative;
    background-color: #f5f5f5;
    background-image: url("../img/newsletter-bg.png");
    background-position: center center;
  }

  #video {
    position: relative;

    background-color: $color-white-10;
    height: 690px;
    @include mq(lg) {
      height: 980px;
    }

    .clipPath {
      width: 100%;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      background-color: $color-red-20;
      clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
      height: 100vh;
      max-height: 500px;
    }

    .videoWrapper {
      position: relative;
      z-index: 2;
      border-radius: var(--border-radius);
      overflow: hidden;
      box-shadow: 0px 8px 16px 5px rgba(#000, 0.25);
      background-color: #fff;
    }
  }

  #about {
    position: relative;
    background-color: $color-white-10;
    .sectionContent_wrapper {
      place-items: center;
    }
  }

  #newsWrapper {
    position: relative;
    background-color: $color-white-10;
    .sectionContent_wrapper {
      place-items: center;
    }
  }
}
