main {
  margin-top: 80px;
  position: relative;
  background-color: $color-white-10;

  .newsWrapperContent {
    @extend .items-center;
  }

  #hero {
    @extend .items-center;

    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);

    @include mq(xl) {
      background-color: hsl(0, 0%, 80%);
    }

    background-blend-mode: multiply;
    background-image: url("../img/hero.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    width: 100%;
    height: 690px;

    @include mq(xs) {
      background-position: top right;

      width: 100%;
      height: 690px;
      background-size: cover;
    }

    @include mq(md) {
      height: 800px;
    }

    &-heading {
      height: 610px;
      align-items: baseline;
      padding-top: 5rem;

      @include mq(xs) {
        height: 750px;
        padding-top: 0rem;
        align-items: center;
      }

      .doubleHeading_subtitle {
        animation: fadeIn 0.8s ease-in-out;
      }

      h2 {
        animation: fadeIn 1s ease-in-out;
      }
      p {
        animation: fadeIn 1.2s ease-in-out;
      }
      a {
        animation: fadeIn 1.4s ease-in-out;
      }
    }
  }

  #productos {
    background-color: $color-white-10;
    position: relative;
    height: auto;

    @include mq(sm) {
      height: auto;
    }

    @include mq(md) {
      height: 600px;
    }

    @include mq(lg) {
      height: 820px;
    }

    .inner-content {
      margin-top: 0px;
      position: relative;
      z-index: 2;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;

      @include mq(md) {
        position: absolute;
        margin-top: -120px;
      }
    }

    .clipPath {
      width: 100%;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
      height: 100vh;
      max-height: 500px;
    }
  }

  #newsletter {
    position: relative;

    .newsletterWrapper {
      z-index: 2;
    }

    .formNewsletter form {
      flex-direction: column;
      display: flex;
      width: 100%;
      justify-content: center;
    }

    @include mq(md) {
      .formNewsletter form {
        flex-direction: row;
        align-items: center;
        width: 100%;
      }
    }
  }

  #video {
    position: relative;
    background-color: $color-white-10;

    .videoWrapper {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      height: 0;
    }

    .videoWrapper iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    height: 690px;

    @include mq(xs) {
      height: 380px;
    }

    @include mq(sm) {
      height: 480px;
    }

    @include mq(md) {
      height: 680px;
    }

    @include mq(lg) {
      height: 800px;
    }

    @include mq(xl) {
      height: 980px;
    }

    .clipPath {
      width: 100%;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      background-color: $color-red-20;
      clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
      height: 100vh;
      max-height: 500px;

      @include mq(xs) {
        height: 100vh;
        max-height: 380px;
      }

      @include mq(md) {
        height: 100vh;
        max-height: 430px;
      }
    }

    .videoWrapper {
      position: relative;
      z-index: 2;
      border-radius: var(--border-radius);
      overflow: hidden;
      box-shadow: 0px 8px 16px 5px rgba(#000, 0.25);
      background-color: #fff;
    }
  }

  #about {
    position: relative;
    background-color: $color-white-10;

    .sectionContent_wrapper {
      place-items: center;
    }
  }

  #newsWrapper {
    position: relative;
    background-color: $color-white-10;

    .sectionContent_wrapper {
      place-items: center;
    }
  }
}
