main {
  padding: 0 0 5rem;
  margin-top: 100px;

  .carouselWrapper ul {
  }

  .newsWrapperContent {
    @extend .items-center;
  }

  #hero {
    @extend .items-center;

    background-color: var(--color-base);
    background-image: url("../img//hero.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 690px;

    @include mq(md) {
      height: 800px;
    }
  }

  #productos {
    .inner-content {
      margin-top: -120px;
      position: relative;
      z-index: 2;
    }
  }

  #newsletter {
    background-color: #f5f5f5;
    background-image: url("../img/newsletter-bg.png");
    background-position: center center;
  }

  #video {
    position: relative;
    min-height: 91.9436vh;

    .clipPath {
      width: 100%;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      background-color: var(--color-red-20);
      clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
      height: 500px;
    }

    .videoWrapper {
      border-radius: var(--border-radius);
      overflow: hidden;
      box-shadow: 0px 8px 16px 5px rgba(#000, 0.25);
      background-color: #fff;
    }
  }

  #about {
    .sectionContent_wrapper {
      place-items: center;
    }
  }

  #newsWrapper {
    .sectionContent_wrapper {
      place-items: center;
    }
  }
}
