/** Paginas */

%content {
    content: '';
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--system-color-green-10);
    border-radius: $border-radius-big;
    margin-right: 0.3rem;
    display: inline-flex;
}

.post {
    h2 {
        font-size: 2rem;
    }

    &_date {
        border: 1px solid var(--system-color-red-20-outline);
        width: 3.75rem;
        height: 3.75rem;
        text-align: center;
        border-radius: 0.313rem;
        font-size: 0.8rem;
        padding: 0 9px;

        span {
            font-size: 1.3rem;
            font-weight: 900;
        }
    }

    &_meta-like {
        color: var(--system-color-bluelight-40);

        p {
            font-size: 0.9rem;
        }

        i {
            color: var(--system-color-red-20);
        }
    }

    &_category {
        color: var(--system-color-red-20);
    }

    &_meta-data {
        color: var(--system-color-bluelight-40);
        text-transform: uppercase;

        a,
        p {
            font-size: 0.8rem;
        }
    }

    &_author {
        margin-right: 10px;
        margin-left: 10px;

        &::before {
            @extend %content;
        }
    }

    &_comment {
        p {
            &::before {
                @extend %content;
            }
        }
    }

    &_text {
        &-header {
            background-color: var(--system-color-red-20);
            color: var(--system-color-white-10);

            p {
                font-size: 1.6rem;
                font-weight: 800;
                opacity: 1;
            }
        }

        p {
            letter-spacing: -1px;
            line-height: 30px;
            margin-bottom: 0.7rem;
            opacity: 0.7;
            display: flex;
        }
    }

    &_items {
        counter-reset: items;

        li {
            margin-top: 10px;

            span {
                font-weight: 900;

                &::before {
                    counter-increment: items;
                    content: counter(items) '. ';
                }
            }
        }

        p {
            letter-spacing: -1px;
            line-height: 30px;
            margin-bottom: 0.7rem;
            opacity: 0.7;
            font-size: 14px;
        }
    }
}

/*  Sidebar  */
#categorias {
    ul {
        position: relative;
    }

    li {
        border-bottom: 1px solid var(--system-color-white-30);
        font-size: 1.6rem;
        line-height: 37px;
        font-weight: 600;
        transition: 0.3s;
        opacity: 0.5;
    }
}

#tags {
    .tag-item {
        padding: 0.5rem 0.6rem;
        margin: 0.3rem auto;
        border-radius: 5px;
        background-color: var(--system-color-white-20);
        font-size: 12px;
    }
}

#recentPost {
    li {
        margin-bottom: 1.5rem;
    }

    .recentPost {
        &_image {
            max-width: 90px;
        }

        &_content {
            font-size: 14px;
            width: calc(100% - 90px);
            padding: 0 20px;
        }
    }
}

#gallery li {
    max-width: 90px;
    margin-right: 10px;
    margin-top: 5px;
}

.sectionContent_wrapper-content {
    display: grid;
    place-content: center;
    place-items: center;
}

.wrapper-content {
    max-width: 550px;
}
