/* PRODUCTO  */
#producto {
  #imagenContentWrapper {
    width: 100%;
    max-width: 760px;

    .contentWrapper {
      .tinyImagenWrapper {
        ul {
          &.tinyimagenWrapper_ul {
            padding: 20px 0;
            li {
              max-width: 130px;
              max-height: 130px;
            }
            li {
              p {
                font-weight: 800;
              }
            }
          }
        }
      }
    }
  }

  #infoContentWrapper {
    background-color: var(--color-base);
    width: 100%;

    .contentWrapper-title {
      .title {
        font-size: var(--fs-h2);
      }
    }
  }

  .tagged_as {
    overflow: hidden;
    display: block;
    padding: 10px;

    .tagItems {
      padding: 0.5rem 1.6rem;
      background-color: #bac4e1;
      margin: 5px;
      text-transform: capitalize;
      border-radius: $border-radius-big;
    }
  }
}

.breadcrumb {
  ul {
    li {
      position: relative;
      display: flex;

      &:nth-child(1)::after,
      &:nth-child(2)::after {
        content: "/";
        display: flex;
        width: 20px;
        justify-content: center;
      }

      &:nth-child(2) {
        color: $color-red-20;
      }
      &:nth-child(3) {
        color: $color-red-40;
        font-weight: 600;
      }
    }
  }
}

/* FIN PRODUCTO  */
