/* PRODUCTOS  */

#productos {
  padding-top: 0rem;
}
#productos {
  .sectionHeading {
    text-align: center;

    h3 {
      font-size: 2.5rem;
      margin: 1.1 0.6rem 0;
      font-weight: 900;
      color: var(--color-red-20-outline);
    }
  }

  .minWidth {
    /* uso del flex  */

    margin: 0px auto;
    max-width: 500px;
  }
}

ul {
  &.center {
    margin-top: 0.3rem;
  }
}

.productosWrapper {
  &__ul {
    position: relative;
    overflow: hidden;
  }

  &__li {
    display: block;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.4s ease-in-out;

    img {
      transform: scale(1);
      transition: transform 0.3s ease-in-out;
    }

    .imagenWrapper {
      position: relative;
      overflow: hidden;

      &__text {
        position: absolute;
        top: 0px;
        left: 0;
        right: 0;
        bottom: 0;
        color: #fff;

        &::before {
          content: "";

          @include samewh(100%);

          background-color: rgba(0, 0, 0, 0.7);
          display: flex;
          position: absolute;
        }
      }

      &__inner {
        @extend .items-center;

        margin-top: 20px;
        margin-left: 20px;
        position: relative;
        z-index: 1;

        span {
          @include samewh(50px);

          background-color: var(--color-red-20);
          border-radius: $border-radius-big;
          margin-right: 20px;
          background-image: url(../img/logo.jpg);
          background-size: cover;
          padding: 10px;
        }
      }
    }

    .textContainer {
      padding: 20px 30px 30px;
      text-transform: uppercase;
    }

    &:hover {
      transform: translateY(-15px);
      box-shadow: 0px 25px 4rem -30px rgba(0, 0, 0, 0.35);
      transition: all 0.4s ease-in-out;
    }

    &:hover img {
      transform: scale(1.1);
      transition: transform 0.3s ease-in-out;
    }
  }
}

#sidebar {
  #tags {
    .tags {
      flex-wrap: wrap;
    }
  }
}

/* FIN PRODUCTOS  */
