.bottomFooterContent {
    @extend .flex;

    justify-content: space-between;
    padding: 2rem 0;
    border-top: 1px solid var(--system-color-red-50);

    p {
        font-size: var(--system-font-size-xsmall);
        opacity: 0.8;
        font-size: 1.2rem;

        a {
            font-weight: bolder;
            opacity: 1;
            font-size: 1.4rem;
        }
    }
}
