footer {
  background: linear-gradient(250deg, #211f1f, #000000);
  color: var(--color-bluelight-100);
  animation: footerAnimation 10s infinite;
  transition: animation 0.3s ease-in-out;
  background-size: 400%;
  position: relative;
}

.footer {
  padding: 0 2em;

  &Item {
    grid-row-gap: 20px;
    row-gap: 20px;
    margin-bottom: 2em;

    &-content {
      overflow: hidden;
      height: 100%;
      background-color: transparent;

      line-height: 2.4rem;

      p,
      a {
        font-size: 0.9rem;
      }
    }

    &_title {
      font-weight: 900;

      span {
        font-size: 1rem;
      }
    }

    &-content_item span {
      opacity: 0.8;
      font-size: 0.7rem;
    }
  }

  &LogoMain {
    img {
      max-width: 180px;
    }
  }

  &TextContent {
  }

  &SocialIcons {
    max-width: 250px;
    overflow: hidden;

    a {
      @include samewh(3rem);

      border: 1px solid;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: var(--color-red-20);
        color: var(--color-white-10);
        border: 1px solid transparent;
      }
    }
  }
}

@import "bottom-footer";

.sitemap {
  a {
    color: var(--color-red-20);
    font-size: 1rem;
  }
}
