footer {
    background: linear-gradient(250deg, #211f1f, #000000);
    color: var(--color-bluelight-10);
    animation: footerAnimation 10s infinite;
    transition: animation 0.3s ease-in-out;
    background-size: 400%;
    position: relative;
}

.footer {
    padding: 0 2em;

    &Item {
        display: grid;
        grid-template-rows: repeat(4, 4rem);
        grid-row-gap: 20px;
        row-gap: 20px;
        margin-bottom: 2em;

        &-content {
            overflow: hidden;
            height: 100%;
            background-color: transparent;
            grid-row: 2 / span 3;
            line-height: 4rem;

            p,
            a {
                font-size: 1.4rem;
            }
        }

        &_title {
            font-weight: 900;

            span {
                font-size: 1.6rem;
            }
        }

        &-content_item span {
            opacity: 0.8;
            font-size: 1.2rem;
        }
    }

    &LogoMain {
        img {
            max-width: 180px;
        }
    }

    &TextContent {
        grid-row: 2 / 4;
    }

    &SocialIcons {
        max-width: 250px;
        overflow: hidden;

        a {
            width: 4rem;
            height: 4rem;
            border-radius: $border-radius-big;
            border: 1px solid;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.6rem;
        }
    }
}

@import 'bottomFooterContent';

.brand {
    grid-column: 1 / 8;

    @include mq(small) {
        grid-column: 1 / 16;
    }

    @include mq(medium) {
        grid-column: 1 / 16;
    }

    @include mq(large) {
        grid-column: 1 / span 5;
    }
}

.contact {
    grid-column: 1 / 8;

    @include mq(small) {
        grid-column: 1 / 16;
    }

    @include mq(medium) {
        grid-column: 1 / 5;
    }

    @include mq(large) {
        grid-column: 6 / span 3;
    }
}

.sitemap {
    grid-column: 1 / 8;

    a {
        color: var(--color-red-20);
        font-size: 1.5rem;
    }

    @include mq(small) {
        grid-column: 1 / 16;
    }

    @include mq(medium) {
        grid-column: 6 / 10;
    }

    @include mq(large) {
        grid-column: 9 / span 2;
    }
}

.lastNews {
    grid-column: 1 / 8;

    @include mq(small) {
        grid-column: 1 / 16;
    }

    @include mq(medium) {
        grid-column: 11 / 16;
    }

    @include mq(large) {
        grid-column: 11 / 16;
    }
}

@keyframes footerAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
