.wrapper {
    width: 100%;

    @include flex-center;

    &-content {
        
        max-width: 100%;
        @include mq(small, xlarge) {
            max-width: 550px;
        }
        
    }
}
