main {
    padding: 0 0 5rem;
    margin-top: 100px;

    .carouselWrapper ul {
        @extend .flex;
    }

    .newsWrapperContent {
        @extend .flex;

        @extend .align-center;
    }

    #hero {
        @extend .flex;

        @extend .align-center;

        background-color: var(--mywebsite-color-base);
        background-image: url('../img//hero.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 91.9436vh;
    }

    #newsletter {
        background-color: #f5f5f5;
        background-image: url('../img/newsletter-bg.png');
        background-position: center center;
    }

    #video {
        position: relative;
        min-height: 91.9436vh;

        .clipPath {
            width: 100%;
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            background-color: var(--system-color-red-20);
            clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
            height: 500px;
        }

        .videoWrapper {
            border-radius: var(--mywebsite-border-radius);
            overflow: hidden;
            box-shadow: 0px 8px 16px 5px rgba(#000, 0.25);
            background-color: #fff;
        }
    }

    #about {
        .sectionContent-wrapper {
            display: grid;
            grid-template-columns: 1fr;
            place-items: center;

            @include mq(small, xlarge) {
                grid-template-columns: repeat(16, 1fr);
                gap: 40px;
            }

            &_content {
                grid-column: 1;
                padding: 20px;

                @include mq(small, medium) {
                    grid-column: 1 / 16;
                }

                @include mq(medium, large) {
                    grid-column: 10 / span 8;
                }

                @include mq(large, xlarge) {
                    grid-column: 9 / span 9;
                }
            }
        }

        .imgWrapper {
            grid-column: 1;

            @include mq(small, medium) {
                grid-column: 1 / 16;
            }

            @include mq(medium, xlarge) {
                grid-column: 1 / span 8;
            }
        }
    }

    #newsWrapper {
        .sectionContent-wrapper {
            display: grid;
            grid-template-columns: 1fr;
            place-items: center;

            @include mq(small, xlarge) {
                grid-template-columns: repeat(16, 1fr);
                gap: 40px;
            }

            &_content {
                grid-column: 1;
                padding: 20px;

                @include mq(small, medium) {
                    grid-column: 2 / 16;
                }

                @include mq(medium, large) {
                    grid-column: 1 / 9;
                }

                @include mq(large, xlarge) {
                    grid-column: 1 / 8;
                }
            }
        }

        .imgWrapper {
            grid-column: 1;

            @include mq(small, medium) {
                grid-column: 1 / 16;
            }

            @include mq(medium, large) {
                grid-column: 9 / 16;
            }

            @include mq(large, xlarge) {
                grid-column: 9 / 16;
            }
        }
    }
}
