footer {
    background: linear-gradient(250deg, #211f1f, #000000);
    color: var(--system-color-bluelight-10);
    animation: footerAnimation 10s infinite;
    transition: animation 0.3s ease-in-out;
    background-size: 400%;
    position: relative;
}

.footer {
    padding: 0 2em;

    &Item {
        display: grid;
        grid-template-rows: repeat(4, 40px);
        grid-row-gap: 20px;
        row-gap: 20px;
        margin-bottom: 2em;

        &-content {
            overflow: hidden;
            height: 100%;
            background-color: transparent;
            grid-row: 2 / span 3;
            line-height: 40px;
        }

        &_title {
            font-weight: 900;
        }

        &-content_item span {
            opacity: 0.8;
            font-size: 0.8rem;
        }
    }

    &LogoMain {
        img {
            max-width: 180px;
        }
    }

    &TextContent {
        grid-row: 2 / 4;
    }

    &SocialIcons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        max-width: 250px;
        overflow: hidden;
        grid-row: 4 / 6;

        a {
            width: 40px;
            height: 40px;
            border-radius: 50px;
            border: 1px solid;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.bottomFooterContent {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    border-top: 1px solid var(--system-color-red-50);

    p {
        font-size: var(--system-font-size-xsmall);
        opacity: 0.8;

        a {
            font-weight: bolder;
            opacity: 1;
        }
    }
}

.brand {
    grid-column: 1 / 8;

    @include mq(small, medium) {
        grid-column: 1 / 16;
    }


    @include mq(medium, large) {
        grid-column: 1 / 16;
    }


    @include mq(large, xlarge) {
        grid-column: 1 / span 5;
    }
}

.contact {
    grid-column: 1 / 8;

    @include mq(small, medium) {
        grid-column: 1 / 16;
    }


    @include mq(medium, large) {
        grid-column: 1 / 5;
    }


    @include mq(large, xlarge) {
        grid-column: 6 / span 3;
    }
}

.sitemap {
    grid-column: 1 / 8;

    a {
        color: var(--system-color-red-20);
    }

    @include mq(small, medium) {
        grid-column: 1 / 16;
    }


    @include mq(medium, large) {
        grid-column: 6 / 10;
    }


    @include mq(large, xlarge) {
        grid-column: 9 / span 2;
    }
}

.lastNews {
    grid-column: 1 / 8;

    @include mq(small, medium) {
        grid-column: 1 / 16;
    }


    @include mq(medium, large) {
        grid-column: 11 / 16;
    }


    @include mq(large, xlarge) {
        grid-column: 11 / 16;
    }
}

@keyframes footerAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
